/*
 *
 *    FLEXWORK.IO - Admin
 *    Muhammed Demir - wwww.muhammed-demir.com
 *
*/
/* margin reset */
.m0  {margin: 0px !important;}
.m5  {margin: 5px !important;}
.m10 {margin: 10px !important;}
.m15 {margin: 15px !important;}
.m20 {margin: 15px !important;}

.mt0  {margin-top: 0px !important}
.mt5  {margin-top: 5px !important}
.mt10 {margin-top: 10px !important}
.mt15 {margin-top: 15px !important}
.mt20 {margin-top: 20px !important}

.mb0  {margin-bottom: 0px !important}
.mb5  {margin-bottom: 5px !important}
.mb10 {margin-bottom: 10px !important}
.mb15 {margin-bottom: 15px !important}
.mb20 {margin-bottom: 20px !important}

.mr0  {margin-right: 0px !important}
.mr5  {margin-right: 5px !important}
.mr10 {margin-right: 10px !important}
.mr15 {margin-right: 15px !important}
.mr20 {margin-right: 20px !important}

.ml0  {margin-left: 0px !important}
.ml5  {margin-left: 5px !important}
.ml10 {margin-left: 10px !important}
.ml15 {margin-left: 15px !important}
.ml20 {margin-left: 20px !important}

/* padding reset*/
.p0  {padding: 0px !important;}
.p5  {padding: 5px !important;}
.p10 {padding: 10px !important;}
.p15 {padding: 15px !important;}
.p20 {padding: 15px !important;}

.pt0  {padding-top: 0px !important}
.pt5  {padding-top: 5px !important}
.pt10 {padding-top: 10px !important}
.pt15 {padding-top: 15px !important}
.pt20 {padding-top: 20px !important}
.pt50 {padding-top: 50px !important}

.pb0  {padding-bottom: 0px !important}
.pb5  {padding-bottom: 5px !important}
.pb10 {padding-bottom: 10px !important}
.pb15 {padding-bottom: 15px !important}
.pb20 {padding-bottom: 20px !important}
.pb25 {padding-bottom: 25px !important}

.pr0  {padding-right: 0px !important}
.pr5  {padding-right: 5px !important}
.pr10 {padding-right: 10px !important}
.pr15 {padding-right: 15px !important}
.pr20 {padding-right: 20px !important}

.pl0  {padding-left: 0px !important}
.pl5  {padding-left: 5px !important}
.pl10 {padding-left: 10px !important}
.pl15 {padding-left: 15px !important}
.pl20 {padding-left: 20px !important}

.aleft{text-align: left !important;}
.aright{text-align: right !important;}
.acenter{text-align: center !important;}

.fleft{float: left;}
.fright{float: right;}

body{
  background-color: #333;
}

.nav-header {
  background: #333;
  padding: 15px 25px !important;
}

#side-menu > li.active {
  background-color: #222;
}
.nav-second-level > li.active{
  background-color: #333;
}

body.mini-navbar .nav-header {
  padding: 0  !important;
}

body.mini-navbar .nav-header{
  background: transparent;
}

.mini-navbar .nav-second-level {
  background-color: #333;
}

.dark-bg{
  background-color: #333;
}

.m-t-xs {
  margin-top: 0px !important;
}

.nav-logo .nav-logo-element {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: white;
  padding: 20px 0;
}


body.mini-navbar .logo-element {
    display: block;
    padding: 15px 0;
}

body.mini-navbar .nav-logo .nav-logo-element {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: white;
  padding: 10px 0;
}

body.mini-navbar .nav-logo .nav-logo-element {
  display: none;
}

.mini-navbar-account{
  display: none !important;
}

body.mini-navbar .mini-navbar-account{
  display: block !important;
}

.mini-navbar .nav-second-level {
  width: 190px;
}


.add-project-button{
 background: #1ab394;
 color: #ffffff;
 border-top: 1px solid #16997e;
 border-bottom: 1px solid #16997e;
}


.navbar-default .nav > li.add-project-button > a:hover,
.navbar-default .nav > li.add-project-button > a:focus {
  background-color: #15937a;
  color: white;
}

.nav-second-level li a:hover, .nav-second-level li a:focus{
  background-color: #333 !important;
}

.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus{
  background-color: #222 ;
}

.nav > li > a .label.label-default.pull-right{
  display: flex;
}

.nav-header .text-muted{
  color: #aaa;
}

.add-project-button a .fa, .add-project-button a .nav-label{
 color: #ffffff;
}

.ibox-content{
  padding: 20px;
}
.ibox-content h3{
  color: #333;
}

a.ibox-link{
  color: #5e5e5e;
}

a.fxwlink, a.fxwlink-dark{
  color: #18a689;
  text-decoration: none;
  border-bottom: 1px dotted #18a689;
  padding-bottom: 2px;
}

a.fxwlink:hover{
  color: #333;
  text-decoration: none;
  border-bottom: 1px dotted #333;
}

a.fxwlink-dark:hover{
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted #fff;
}

/* ibox add box */
.ibox-add-box{
  background: #f7f7f7 !important;
  border: 1px solid #e7eaec;
  border-top: 4px solid #e7eaec;
  font-size: 24px;
  font-weight: 300;
  color: #5e5e5e;
}

.ibox-add-box div{
  position: relative;
  text-align: center;
  top: 70px;
  text-transform: lowercase;
}

.ibox-add-box:hover{
  background: #ffffff !important;
  border: 1px solid #e7eaec;
  border-top: 4px solid #e7eaec;
  font-size: 24px;
  font-weight: 300;
  color: #5e5e5e;
}
/* end ibox add box */

/* ibox project box */
.ibox-project {
  background: white;
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  min-height: 191px;
  padding: 0;
}

.ibox-project-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: none;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 0px 0;
  color: inherit;
  margin-bottom: 0;
  padding: 15px 15px 15px;
  min-height: 48px;
  text-align: center;
}

.ibox-project-title h5{
  font-size: 24px;
  font-weight: 300;
}

.ibox-project-id {
  color: #ccc;
}
.project-date {
  color: #676a6c;
}
.ibox-project-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
}

.ibox-project-element {
  padding-bottom: 15px;
  text-align: center;
}

/* end ibox project box */

/* ibox users box */
.ibox-users {
  background: white;
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  min-height: 210px;
  padding: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.ibox-users-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: none;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 0px 0;
  color: inherit;
  margin-bottom: 0;
  padding: 15px 15px 15px;
  min-height: 48px;
  text-align: center;
}

.ibox-member-status{
  display: block;
  text-align: right;
}

.ibox-users-picture{
  display:block;
  margin-top: -15px;
}

.ibox-users-picture.users{
  margin-top: 0px;
}

.ibox-users-title h5{
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0 5px;
}

.ibox-users-content {
  color: inherit;
  padding: 5px 20px 5px;
}

.ibox-users-status{
  display: inline-block;
  font-size: 10px;
  margin-right: 0px;
  position: relative;
  top: -4px;;
}

.ibox-users-status .fa{
  color: #1ab394;
}

.ibox-users.inactive .ibox-users-status .fa,
.ibox-users.inactive h5,
.ibox-users.inactive .ibox-users-job-title{
  color: #cccccc;
}


.ibox-users.away .ibox-users-status .fa{
  color: #ed5565;
  font-size: 12px;
  position: relative;
  top: 1px;
}

.ibox-users-action{
  text-align: center;
}

.ibox-users-action-line{
  border-right: 1px dotted #ccc;
  margin-left: 4px;
  margin-right: 7px;
  width: 1px;
}

.ibox-users.inactive{
  background: #f7f7f7;
}

.ibox-users-job-title {
  color: #999;
  display: block;
  margin-bottom: 5px;
  clear: both;
}
.ibox-users-phone {
  color: #ccc;
  display: block;
}
.ibox-users-email {
  color: #999;
  display: block;
}

.ibox-users-location {
  color: #999;
  display: block;
}
.ibox-users.ibox-add-box div{
  top: 80px;
}

.add-user-label{
  font-weight: 400;
  margin-top: 7px;
}
.add-user-switch{
  text-align: right;
}
/* end ibox users */

/* ibox */
.ibox-box {
  background: white;
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  min-height: 210px;
  padding: 0;
}

.ibox-box {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: none;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 0px 0;
  color: inherit;
  margin-bottom: 0;
  padding: 15px 15px 15px;
  min-height: 48px;
  text-align: left;
}


.ibox-box-title h5{
  font-size: 18px;
  font-weight: 300;
  margin: 5px 0 10px;
  color: #333;
}

.ibox-box-content {
  color: inherit;
  padding: 5px 0px 5px;
}
/* end ibox */


.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #1ab394 !important;
  border-color: #1ab394 !important;
}

.btn-default {
  background-color: #d1dade;
  border-color: #d1dade;
  color: #5e5e5e;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #c4cfd6;
  border-color: #c4cfd6;
  color: #5e5e5e;
}

.sidebar-content .wrapper, .wrapper.sidebar-content {
  padding-right: 265px !important;
}

#small-chat {
  z-index: 9999;
}

.small-chat-box {
  z-index: 9999;
}

.footer {
  background: #f3f3f4;
  font-size: 10px;
}

.footer a {
  color: #676a6c;
}

.footer a:hover {
  color: #1ab394;
}

.modal-fa-icon{
  font-size: 20px;
  margin-right: 5px;
  position: relative;
}

.contact-person-fa-icon{
  width:10px;
  font-size:10px;
  margin-right:5px;
}

.close {
  font-size: 40px;
  margin-right: 10px;
}

.modal-header {
  background: transparent !important;
  color: #1ab394;
  padding: 20px !important;
  border-bottom: 1px solid #eee;
}
.modal-body {
  padding: 20px;
}
.inmodal .modal-body{
  background: transparent;
}
.modal-content{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.inmodal .modal-title {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    color: #333;
    text-transform: lowercase;
}
.modal-footer {
  border-top: 0px;
  padding: 0 20px 15px;
}
#right-sidebar {
  z-index: 99;
}


.label.tags{
  display: inline-block;
  margin-bottom: 5px;
  padding: 7px;
}

.label.tags.away{
  display: block;
  margin-bottom: 5px;
  padding: 7px;
  text-align: left;
  font-size: 11px;
}

.away-text{
  display: inline-block;
  text-align: left;
  width: 20%;
}

.away-date{
  display: inline-block;
  text-align: left;
  font-weight: 300;
  width: 70%;
}

.away-link{
  display: inline-block;
  padding: 0 10px;
  text-align: center;
  width: 10%;
}

a.delete-date{
  color: #676a6c;
  text-align: right;
}

.label.tags.channels{
  display: block;
  margin-bottom: 5px;
  padding: 7px;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  background: #f6f6f6;
}


@media (max-width: 785px) {
  #right-sidebar {
    display: none;
  }
}

.nav > li > a {
  color: #aaa;
  font-weight: 300;
  text-transform: lowercase;

}.nav > li > a i {
  width: 23px;
  margin-right: 0px;
}

.nav > li.active > a i.fa{
  margin-left: -5px;
}

.top-log-out{
  float: right;
  margin-right: 25px !important;
}

.tag-list{
  text-align: right;
}

.faq-question {
  margin-bottom: 5px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  vertical-align: middle;
}

.f-left{
  float: left;
}

.f-right{
  float: right;
}

.table-filter-form-group{
  margin-bottom: 0px;
}

/*margins*/

.m-0{
  margin: 0px !important;
}

/* margin left */

.ml-0{
  margin-left: 0px !important;
}

.ml-5{
  margin-left: 5px !important;
}

.ml-10{
  margin-left: 10px !important;
}

/* margin right */
.mr-0{
  margin-left: 0px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

/* margin top */
.mt-0{
  margin-top: 0px !important;
}

.mt-5{
  margin-top: 5px !important;
}

.mt-10{
  margin-top: 10px !important;
}

/* margin bottom */
.mb-0{
  margin-bottom: 0px !important;
}

.mb-5{
  margin-bottom: 5px !important;
}

.mb-10{
  margin-bottom: 10px !important;
}

.mb-15{
  margin-bottom: 15px !important;
}

/*margins*/

/* paddings */

.p-0{
  padding: 0px !important;
}

/* paddings */


/* borders */

.b-0{
  border: 0px !important;
}

/* borders */

.btn-question{
  margin: 0px 10px;
}

.btn-icon-question{
  font-size:12px;
  margin-right:2px
}

.table-question{
  width: 100%;
}

.table-question td{
  padding-bottom: 15px;
  vertical-align: top;
}

.table-question textarea{
  height: 150px;
  padding: 12px;
}

.login-first-name{
  width: 49%;
  float: left;
  margin-right: 2%;
}

.login-last-name{
  width: 49%;
  float: left;
}

.icheckbox_square-green, .iradio_square-green {
  margin-right: 5px;
}

.checks-terms-policy a{
  color: #888888;
}

.checks-terms-policy a:hover{
  color: #2d8f7b;
}

.middle-box {
  padding-top: 0px;
}

.hr-line-solid {
  height: 1px;
  border-top: 1px solid #e7eaec;
  margin-bottom: 15px;
  margin-top: 15px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}

.loginColumns {
  padding: 30px 20px 20px;
}

.clear-both{
  clear: both;
}

.firts-login-contact-person a{
  color: #676a6c;
}

.firts-login-contact-person a:hover{
  color: #1ab394;
}

.checkbox, .radio {
  text-align: left;
}

.modal-content-center{
  text-align: center;
}

.fa-add-date{
  font-size: 12px;
  margin-right: 2px;
  position: relative;
  top: -1px;
}

b, strong {
    font-weight: 600;
}

/* SELECT2 */

.select2-container {
  display: block;
}

/*Select 2*/
.select2-container .select2-choice {
  border: 1px solid #e7eaec;
  background: #fff;
  padding: 3px 8px;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.select2-container.select2-dropdown-open .select2-choice{
  border: 1px solid #e7eaec;
  background: #fff;
  padding: 3px 8px;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}


/* select project */
.select-project .select2-container .select2-choice {
  border: 1px solid #d1dade;
  background: #fff;
  color: #5e5e5e;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5em;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.select-project .select2-container.select2-dropdown-open .select2-choice{
  border: 1px solid #e7eaec;
  background: #fff;
}

.select-project .select2-container .select2-choice .select2-arrow {
  background-color: #fff;
  background-image: none;
  width: 30px;
  top: -3px;
}

.select-project .select2-container.select2-dropdown-open .select2-choice .select2-arrow {
  background-color: #fff;
}

.project-search input{
  padding: 5px 10px !important;
  font-size: 12px;
  line-height: 1.5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.project-search .btn{
  background-color: #d1dade;
  border-color: #d1dade;
  color: #5e5e5e;
  color:
}

/**/

.select-day .select2-container .select2-choice {
  border: 1px solid #e7eaec;
  background: #fff;
  padding: 3px 8px;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.select-month .select2-container .select2-choice {
  border: 1px solid #e7eaec;
  background: #fff;
  padding: 3px 8px;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.select-year .select2-container .select2-choice {
  border: 1px solid #e7eaec;
  background: #fff;
  padding: 3px 8px;
  height: auto;
  --webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.select2-container .select2-choice .select2-arrow{
  border-left: none;
}

.select2-results .select2-highlighted {
  background: none repeat scroll 0 0 #1ab394;
  color: #fff;
}

.select2-drop-active {
  border: 1px solid #1ab394;
  border-top: none;
  margin-top: -2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.calander{
  display: inline-flex;
  float:left;
}

.select-day{
  width:70px;
  float:left;
  margin: 5px -1px 5px 0px;
}

.select-day{
  width:70px;
  float:left;
  margin: 5px -1px 5px 0px;
}

.select-month{
  width:135px;
  float:left;
  margin: 5px -1px 5px 0px;
}

.select-year{
  width:80px;
  float:left;
  margin: 5px 5px 5px 0px;
}

.select-option{
  width:200px;
  margin: 5px;
}

.select-option-yellow{
  width:200px;
  float:left;
  margin: 5px;
}

.select-option.select-modal{
  width: 100%;
  margin: 0px;
  float: inherit;
}

.select-icon-calander{
  float: left;
  height: 34px;
  width: 34px;
  margin: 5px -1px 5px 5px;
  padding: 7px;
  color: #aaa;
  border: 1px solid #e7eaec;
  background: #eee;
  text-align: center;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.calander .select-month .select2-container .select2-choice{
  border-radius: 0px;
}

.calander .select-year .select2-container .select2-choice {
  -webkit-border-radius: 3px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius: 3px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.calander .select-icon-calander{
  margin: 0px;
}
.calander .select-month {
  margin: 0 -1px 0 0;
}
.calander .select-year{
  margin: 0px;
}

.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
  border-color: transparent #1ab394 #1ab394;
}

.select2-drop.select2-drop-above.select2-drop-active {
  border-top: 1px solid #1ab394;
}

/*box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.18);*/
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  background: #fff;
}
.select2-drop.select2-drop-above {
  box-shadow: none;
  border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  box-shadow: none;
}
.select2-container .select2-choice .select2-arrow {
  width: 30px;
  background-color: #FFFFFF;
  background-image: none;
}
.select2-container .select2-choice .select2-arrow b {
  background-position: 7px 6px;
}
.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -13px 6px;
}
.select2-container.select2-drop-above .select2-choice {
  border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
}

.select2-container-multi .select2-choices .select2-search-choice {
  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;
  background-image: linear-gradient(to bottom, #ffffff 60%, #f9f9f9 100%);
  padding: 3px 5px 5px 18px;
}
.select2-container-multi .select2-choices {
  padding: 5px 5px 2px;
  background: #fff;
  box-shadow: none;
}

.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #1ab394 !important;
  box-shadow: none;
  outline: medium none;
}

.select2-container-multi .select2-choices .select2-search-field input {
  width: 100% !important;
}
.select2-container-multi .select2-choices {
  border: 1px solid #d2d2d2 !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active.active:hover, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.active:hover, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
  background-color: #1ab394;
  border-color: #1ab394;
  color: #ffffff;
}

.datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover:hover, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover:hover, .datepicker table tr td span.active:focus, .datepicker table tr td span.active:hover:focus, .datepicker table tr td span.active.disabled:focus, .datepicker table tr td span.active.disabled:hover:focus, .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active.active:hover, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled.active:hover, .open .dropdown-toggle.datepicker table tr td span.active, .open .dropdown-toggle.datepicker table tr td span.active:hover, .open .dropdown-toggle.datepicker table tr td span.active.disabled, .open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
  background-color: #1ab394;
  border-color: #1ab394;
  color: #ffffff;
}

.datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover:hover, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover:hover, .datepicker table tr td span.active:focus, .datepicker table tr td span.active:hover:focus, .datepicker table tr td span.active.disabled:focus, .datepicker table tr td span.active.disabled:hover:focus, .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active.active:hover, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled.active:hover, .open .dropdown-toggle.datepicker table tr td span.active, .open .dropdown-toggle.datepicker table tr td span.active:hover, .open .dropdown-toggle.datepicker table tr td span.active.disabled, .open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
  background-color: #1ab394;
  border-color: #1ab394;
  color: #ffffff;
}


/* MESSAGES / CHAT */

.ibox.chat-view{

}

.chat-discussion{
  height: -o-calc(100vh - 390px); /* opera */
  height: -webkit-calc(100vh - 390px); /* google, safari */
  height: -moz-calc(100vh - 390px); /* firefox */
}

.chat-users{
  height: -o-calc(100vh - 390px); /* opera */
  height: -webkit-calc(100vh - 390px); /* google, safari */
  height: -moz-calc(100vh - 390px); /* firefox */
}

.label-channel-notification{
  margin-right: 5px;
  margin-top: -15px;
}

.message{
  padding: 0 10px;
  border: 0px;
  background: transparent;
}

.chat-discussion {
  background: #fff none repeat scroll 0 0;
}

.chat-message {
  padding: 10px 0;
}

.message-avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.chat-avatar{
  margin-right: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.chat-user a{
  color: inherit;
  display: block;
  height: 36px;
}

.chat-user-box{
  border-top: 1px solid #eee;
}

.ibox-box-title.channel h5{
  color: #333;
  font-weight: 700;
}

.ibox-content.chat-message-box{
  border: 0px;
}

.ibox-box-title.channel h5 span{
  color: #676a6c;
  font-weight: 300;
}

a.message-author{
  color: #333;
  font-weight: bold;
  font-size: 14px;
}

.chat-discussion .chat-message.left .message-date {
  float: inherit;
  font-size: 12px;
}

.message-content {
  color: #000;
  display: block;
  font-size: 14px;
  margin-top: 5px;
}

.message-divider{
  padding: 10px 0;
  margin: 10px 0px;
}

.message-line-divider {
  border-top: 1px solid #ddd;
  left: 1.5rem;
  margin: 0;
  right: 18px;
  top: 1.1rem;
}

.message-label-divider {
  background: #fff none repeat scroll 0 0;
  color: #333;
  display: table;
  font-size: 14px;
  font-weight: bold;
  margin: -11px auto 0;
  padding: 0 1rem;
  position: relative;
  text-align: center;
}

.message-line-divider.new {
  border-top: 1px solid #ed5565;
}

.message-label-divider.new {
  color: #ed5565;
}

.chat-message-form{
  padding: 20px 20px 0;
}

.chat-message-form .mentions{
  padding:20px 0px;
}

.message-input {
  height: 55px !important;
  padding: 15px;
  border: 2px solid #e5e6e7;
  resize: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.chat-user-name{
  padding: 0px;
  font-size: 16px;
  font-weight: 400;
}

.chat-users-job-title{
  color: #999;
  display: block;
  margin-bottom: 5px;
  font-size: 10px
}

.ibox-users-status.chat{
  top: -3px;
}

.chat-user.away .ibox-users-status .fa{
  color: #ed5565;
  font-size: 12px;
  position: relative;
  top: 1px;
}

.mentions a{
  background: #eee;
  color: #676a6c;
  padding: 5px;
  border-radius: 3px;
}

.ibox-box-title.channel h5{
  display: inline-block;
}


.notification-away{
  background:#f6f6f6;
  margin-top:10px;
  padding:10px;
  font-size:10px;
}


/* NAV SECOND LEVEL */
.nav-second-level li a {
  padding: 7px 20px 7px 52px;
}


.login-content{
  color: #17a688;
}

.login-content h3{
  font-size: 22px;
  font-weight:400
}

.form-login{
  background-color: transparent;
  background-image: none;
  border: 1px solid #18a689;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #18a689;
  display: block;
  font-size: 14px;
  height: 37px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

.form-login::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #18a689;
}
.form-login:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #18a689;
   opacity:  1;
}
.form-login::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #18a689;
   opacity:  1;
}
.form-login:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #18a689;
}

.btn-turk-dark {
  background-color: #1ab394;
  border-color: #1ab394;
  color: #333;
}

.btn-turk-dark:hover {
  background-color: #0f7c67;
  border-color: #0f7c67;
  color: #333;
}

.bold{
  font-weight: bold;
}

/* feature project list */
.project-table-head{
  font-weight: bold;
  background:#f9f9f9;
  text-transform: uppercase;
}
.project-title a{
  color: #333;
  display: block;
}

.project-title{
  font-weight: 600;
}

.project-title{
  color: #333;
  font-size: 14px;
}

.project-title small{
  color: #aaa;
  font-weight: 400;
}

.project-estimation .fa-bug{
  display: block;
}
.project-estimation .hour{
  font-size: 14px;
}

.project-real-time .fa-bug{
  display: block;
}
.project-real-time .hour{
  font-size: 14px;
  font-weight: bold;
}
.project-real-time a {
  border-bottom: 1px dotted #aaa;
  color: #aaa;
  display: table;
}

.project-report-estimation{

}
.project-report-estimation .hour{
  font-size: 14px;
  font-weight: bold;
}
.project-report-estimation .fa {
  font-size: 14px;
  margin-right: 5px;
}
.project-report-realtime .hour{
  font-size: 14px;
  font-weight: bold;
}
.project-report-realtime .fa {
  font-size: 14px;
  margin-right: 5px;
}
.project-realtime .hour{
  font-size: 14px;
  font-weight: 700;
}
.project-estimation .fa{
  font-size: 14px;
  margin-right: 5px;
}

.project-estimation a{
  color: #aaa;
  border-bottom: 1px dotted #aaa;
  display: table;
}

.project-realtime a{
  color: #aaa;
  border-bottom: 1px dotted #aaa;
  display: table;
}

.project-estimation a:hover,
.project-realtime a:hover{
  color: #1ab394;
  border-bottom: 1px dotted #1ab394;
}

.project-action{
  text-align: right;
}

.project-status .label{
  font-size: 13px;
  line-height: 1.5em;
  padding: 5px 10px;
  vertical-align: middle;
  border: 1px solid #d1dade;
}

.project-status small{
  color: #aaa;
  display: block;
}

.project-status.dashboard-status small{
  color: #1ab394;
  font-weight: 600;
}

.project-status .fa{
  margin-right: 5px;
}

.project-status img{
  margin-right: 5px;
}

.project-id{
  color: #aaa;
}

.project-type{
  text-align: center;
}

.project-details-realtime{
  font-weight:400;
  font-size:12px;
  color: #aaa;
}

.project-details-info{
  font-weight:400;
  font-size:12px;
  color: #333Contractor;
}

.project-details-title-id{
  color: #aaa;
  font-size: 12px;
  font-weight: 400;
  margin-left: 30px;
}

.project-details-title-minus{
  color: #aaa;
  font-size: 12px;
  font-weight: 400;
  margin-left: 5px;
  margin-right: 5px;
}


.project-details-see-description{
  font-weight:400;
  font-size:12px;
  color: #aaa;
}

.project-details-see-description:hover{
  color: #1ab394;
}

.user-acoount-delete-btn{
  font-weight:400;
  font-size:12px;
  color: #aaa;
}

.user-acoount-delete-btn:hover{
  color: #1ab394;
}

.project-details-see-reject{
  font-weight:400;
  font-size:12px;
  color: #ed5565;
}

.project-details-see-reject:hover{
  color: #ec4758;
}


.project-details-box{
  display: block;
  width: 100%;
}

.project-details-box{
  border-bottom:1px solid #f3f3f4;
}

.project-details-box h2{
  color: #000;
}

.project-title-h2{
  float: left;
  margin-bottom: 0px;
}

.project-title small{
  display: block;
}

.dashboard-report-title a{
  color: #000;
  font-size: 12px;
  display: block;
}


.dashboard-report-title a .dashboard-report-date{
  color: #333;
  display: block;
  font-weight: 400;
  margin-bottom: 5px;
}

.dashboard-report-title a .dashboard-report-subject{
  color: #000;
  display: block;
  font-weight: 600;
}

.project-details-status-area{
  background-color: #555;
}

.project-details-status-area .project-status small{
  margin-top: 3px;
}

.project-details-status-area .ticket-status-text small{
  color: #fff;
  font-weight: 700;
  margin-left: 25px;
}

.project-details-status-area .ticket-status-text small .fa{
  margin-right: 5px;
}

.project-details-status-area .project-status .label-default.label-nobg{
  background: #fff;
}

/* project typs color */
.project-type .fa-star{
  color: #f1c40f;
}
.project-type .fa-bug{
  color: #d9534f;
}
.project-type .fa-file{
  color: #34495e;
}
.project-type .fa-tint{
  color: #9b59b6;
}

/* project typs color */
.project-type.fa-star{
  color: #f1c40f;
}
.project-type.fa-bug{
  color: #d9534f;
}
.project-type.fa-file{
  color: #34495e;
}
.project-type.fa-tint{
  color: #9b59b6;
}

.btn-group-xs > .btn, .btn-xs {
  margin-bottom: 3px;
  padding: 2px 5px;
}

.member-level{
    display: block;
}
.member-level .fa-star{
  color: #f1c40f;
  font-size: 10px;
}

.member-skills{
  font-size: 10px;
}

.member-skills ul{
  padding: 0px;
}

.member-skills ul li{
  margin-bottom: 2px;
}

.member-skills ul li.label{
  background-color: #eee;
  padding: 3px 5px;
  display: inline-block;
  font-weight: 400;
}

.member-skills ul li.label-warning{
  background-color: #f8ac59;
}

.valign-top{
  vertical-align: top !important;
}

.member-total{
  color: #000;
  border-right: 1px solid #eee;
  text-align: center;
}
.member-capacity{
  color: #000;
  border-left: 1px solid #eee;
  text-align: center;
}
.member-performance{
  color: #3498db;
  border-right: 1px solid #eee;
  text-align: center;
}

.member-days{
  background-color: #f9f9f9;
  text-align: center;
  border-right: 1px solid #eee;
}

.member-days.stage-1{
  border-bottom: 2px solid #27ae60;
}
.member-days.stage-2{
  border-bottom: 2px solid #f39c12;
}
.member-days.stage-3{
  border-bottom: 2px solid #e74c3c;
}

.reset-filter{
  float: left;
  margin-left: 5px;
  position: relative;
  top: 4px;
}

.reset-filter a{
  color: #aaa;
  font-size: 10px;
  font-weight: 400;
}

.reset-filter a:hover{
  color: #1ab394;
  border-bottom: 1px dotted #1ab394;
}

.member-performance-week {
  background-color: #eee;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 4px 10px;
  position: relative;
  top: 0;
  float: left;
}

/* project typs color */
.project-details-type-icon.fa{
  font-size:24px;
  float:left;
  width: 25px;
}
.project-details-type-icon.fa-star{
    color: #f1c40f;
}
.project-details-type-icon.fa-bug{
    color: #d9534f;
}
.project-details-type-icon.fa-file{
    color: #34495e;
}
.project-details-type-icon.fa-tint{
    color: #9b59b6;
}

.project-status .select2-container .select2-choice {
  background: #d1dade none repeat scroll 0 0;
  border: 1px solid #d1dade;
}

.project-status .select2-container .select2-choice .select2-arrow {
  background-color: #d1dade;
}

.label-default.label-nobg{
  background: #fff;
  border: 0px;
}

.project-estimation .fa-bug{
  color: #aaa;
}

.table-hover > tbody > tr:hover{
  background: #ebfffb !important;
}


tr.done{
  color: #aaa;
}

tr.done td{
  background:#f9f9f9;
}

tr.done td .label.label-default.label-nobg{
  background: transparent;
  color: #aaa;
}

tr.done > .project-title a{
  color: #aaa;
}

tr.done .fa{
  color: #aaa;
}

tr.done .project-actions .btn,
tr.done .project-actions .btn .fa,
tr.done .project-actions .fa-search
{
  color: #676a6c;
}

tr.done .project-status .btn{
  color: #aaa;
}

tr.done .notification-avatar{
  color: #676a6c;
}

tr.new td{
  background:#fffeea;
}


.project-people a{
  display: inline-block;
}

.project-people a.team-lead{
  border-right: 1px dotted #aaa;
  padding-right: 5px;
  margin-right: 5px;
}

.project-details-title h2{
  font-weight: 600;
  color: #333;
}

.project-people .progress-loading{
  width: 15px;
  height: 15px;
}


.breadcrumb{
  text-transform: lowercase;
}

/* fxwlink member*/
.fxwlink-member{
  color: #999;
  margin-right: 10px;
  border-bottom: 1px dotted #999;
  padding-bottom: 1px;
}

.fxwlink-member:hover{
  color: #1ab394;
  border-bottom: 1px dotted #1ab394;
}

.draft{
  color: #aaa;
}

/* notification */
.table.notification{
  margin-top: -2px;
}

.notification-avatar {
  width: 42px;
}
.notification-avatar img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.notification-name{
  width: 110px;
  font-weight: 600;
  font-size: 12px;
}

.notification-date{
  width: 80px;
  font-size: 10px;
  color: #aaa;
}

.notification-status {
  text-align: left;
  width: 120px;
}
.notification-status .fa{
  font-size: 8px;
  margin-right: 5px;
  position: relative;
  top: -1px;
}

.notification-status .label{
  font-size: 10px;
}


/*
.notification-status .label{
  font-size: 12px;
}
.notification-status .label-default{
  background-color: transparent;
  color: #5e5e5e;
}

.notification-status .label-primary{
  background-color: transparent;
  color: #1ab394;
}
.notification-status .label-success{
  background-color: transparent;
  color: #1c84c6;
}
.notification-status .label-warning{
  background-color: transparent;
  color: #f8ac59;
}
.notification-status .label-danger{
  background-color: transparent;
  color: #ed5565;
}
.notification-status .label-info{
  background-color: transparent;
  color: #23c6c8;
}
*/

.notification-type{
  width: 115px;
  font-size: 12px;
}
.notification-type .fa {
  margin-left: 5px;
  margin-right: 5px;
}
.notification-type .feature{
  font-weight: 400;
}

.notification-title{
  width: 250px;
  font-weight: 600;
  font-size: 12px;
}
.notification-title small{
  display: block;
  color: #aaa;
}
.notification-action{
  text-align: right;
}

.project-files li a {
  color: #676a6c;
  font-size: 12px;
  line-height: 30px;
  margin-left: 0px;
  padding-bottom: 0px;
  margin-bottom: 10px;
}
.project-files li a:hover {
  color: #1ab394;
  padding-bottom: 0px;
}
.project-files .fa{
  margin-right: 5px;
}
.channel-text{
  font-weight: 300;
}
.textarea-keybox{
  resize: none;
  padding: 10px;
  height: 150px !important;
  width: 100%;
  font-size: 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.keybox-icon{
  font-size: 16px;
  position: relative;
  margin-right: 0px;
  color: #aaa;
  background-color: #e7eaec;
  text-align: center;
  padding: 8px;
  height: 34px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.select-keybox .select2-container .select2-choice{
  -webkit-border-radius: 0px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius: 0px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.ibox-content.keybox{
  border-top: 4px solid #e7eaec;
  height: 240px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.keybox.ibox-users{
  min-height: 240px;
}
.keybox.ibox-users.ibox-add-box div{
  top: 100px;
}
.keybox.ibox-users.ibox-add-box .fa{
  margin-right: 5px;
  font-size: 18px;
}
.keybox-input{
  float: left;
  width: 180px;
}

.form-control.keybox-input{
  -webkit-border-radius: 0px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius: 0px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.keybox-delete{
  border: 0px;
  background: transparent;
  color: #aaa;
  top: 6px;
  position: relative;
}


.delete-text{
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  text-align: center;
}

/* sweet alert */
.sweet-container{
  position: relative;
  z-index: 999999;
}

.sweet-alert {
  font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
}

.sweet-alert .icon.success {
  border-color: #1ab394;
}

.sweet-alert .icon.success .line {
  background-color: #1ab394;
}

.sweet-alert .icon.success .placeholder {
  border: 4px solid rgba(26, 179, 148, 0.2);
}

.sweet-alert button{
  box-shadow: none !important;
}
.sweet-alert h2{
  font-size: 18px;
  line-height: 1.3em;
  margin: 25px 0 10px;
}
.sweet-alert p{
  margin-bottom: 20px;
  font-size: 18px;
}
.checkbox.checkbox-alert {
  line-height: 0.85em;
  padding-left: 20px;
  text-align: left;
  display: inline;
}
.checkbox.checkbox-alert label{
    font-weight: 300;
    font-size: 14px;
}

/* ticket radio */
.ticket.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f1c40f;
}
.ticket.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f1c40f;
}

.ticket.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f;
}
.ticket.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f;
}

/* ticket type */
.ticket-type.radio-inline{
  background-color: transparent;
  color: #1ab394;
  padding: 10px 25px 10px 8px;
  border-right: 1px solid #333;
}
.ticket-type.radio-inline input[type="radio"] {
  margin-left: 0px;
  position: relative;
}
.ticket-type.radio label::before {
  background-color: transparent;
  border: 1px solid #333;
  color: #1ab394;
  border-radius: 0px;
  content: "";
  display: inline-block;
  height: 17px;
  left: 0;
  margin-left: -20px;
  position: absolute;
  transition: border 0.15s ease-in-out 0s;
  width: 17px;
}
.ticket-type.radio-info input[type="radio"]:checked + label::before {
  border-color: #1ab394;
}
.ticket-type.radio-info input[type="radio"]:checked + label::after {
  background-color: #1ab394;
}
.ticket-type.radio label::after {
  background-color: #555555;
  border-radius: 0px;
  color: #fff;
  content: " ";
  display: inline-block;
  height: 11px;
  left: 3px;
  margin-left: -20px;
  position: absolute;
  top: 3px;
  transform: scale(0, 0);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33) 0s;
  width: 11px;
}

.ticket-type.radio-inline + .ticket-type.radio-inline {
  padding: 10px 15px 10px 15px;
  margin-left: 0px;
  margin-top: 0px;
}


.radio-toolbar input[type="radio"] {
  display:none;
}

.radio-toolbar label {
  display: inline-block;
  background-color: #fff;
  padding: 10px 15px;
  font-weight: 400;
  margin: 0px;
  border-radius: 3px;
  color: #aaa;
  border: 1px solid #eee;
}

.radio-toolbar .fa{
  margin-right: 5px;
}

.radio-toolbar input.development[type="radio"]:checked + label.development {
  background-color: #1ab394;
  border: 1px solid #1ab394;
  color: #fff;
}

.radio-toolbar input.feature[type="radio"]:checked + label.feature {
  background-color: #f1c40f;
  border: 1px solid #f1c40f;
  color: #fff;
}

.radio-toolbar input.bug[type="radio"]:checked + label.bug {
  background-color: #d9534f;
  border: 1px solid #d9534f;
  color: #fff;
}

.radio-toolbar input.concept[type="radio"]:checked + label.concept {
  background-color: #34495e;
  border: 1px solid #34495e;
  color: #fff;
}

.radio-toolbar input.design[type="radio"]:checked + label.design {
  background-color: #9b59b6;
  border: 1px solid #9b59b6;
  color: #fff;
}

.radio-toolbar.header-toolbar{
  margin-bottom: 0px;
  padding:10px 5px;
}

.form-control, .single-line {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-color: #d1dade;
}

.form-control.input-week{
  background-color: #d1dade;
}

.header-ticket-types{
  margin: -20px -20px 0px -20px;
}

.modal-footer .btn-white{
  background-color: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  font-weight: 500;
  text-transform: lowercase;
}
.modal-footer .btn-white:hover,
.modal-footer .btn-white:focus{
  background-color: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  font-weight: 500;
  text-transform: lowercase;
}

.modal-footer .btn-primary{
  background-color: #1ab394;
  border: 1px solid #1ab394;
  color: #fff;
  font-weight: 500;
  text-transform: lowercase;
}

.modal-footer .btn-warning{
  text-transform: lowercase;
}
.modal-footer .btn-danger{
  text-transform: lowercase;
}
.modal-footer .btn-success{
  text-transform: lowercase;
}

label.euro{
  background-color: #e5e6e7;
  height: 46px;
  padding: 13px 0;
  text-align: center;
  width: 40px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-left-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.form-control.budgetlimit{
  -webkit-border-radius: 3px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius: 3px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

a.btn-add-estimation{
  color: #ed5565;
  border-bottom: 1px dotted #ed5565;
  font-size: 14px;
  font-weight: 700;
}
a.btn-add-realtime{
  color: #ed5565;
  border-bottom: 1px dotted #ed5565;
  font-size: 14px;
  font-weight: 700;
}

a.btn-add-estimation:hover,
a.btn-add-realtime:hover{
  color: #c33b49;
  border-bottom: 1px dotted #c33b49;
}

.none{
  display: none;
}

.navbar.navbar-static-top{
  background-color: #fff;
  height: 60px !important;
}

/* key account header */
li.key-account{
  margin-right:25px !important;
}
li.key-account a{
  margin-top: 12px;
  min-height: auto;
  padding: 0;
  text-transform: none;
}
.ka-image{
  float:left;
  margin-right:15px;
}
.ka-name{
  float:left;
}
.ka-name .ka-span-1{
  display:block;
  font-size: 12px;
  font-weight: 600;
  line-height: 1em;
  margin-top: 3px;
  color: #676a6c;
}
.ka-name .ka-span-1 .fa{
  margin-left: 3px;
}
.ka-name .ka-span-2{
  display:block;
  font-size: 12px;
  color: #676a6c;
}

.page-heading h2{
  font-weight: 600;
  text-transform: lowercase;
  color: #333;
}

.page-heading h2 .fa{
  width: 30px;
}

.btn-add-project{
  border-bottom: 1px dotted;
  display: inline !important;
}

.first-ticket-info{
  color:  #ccc;
  font-weight: 400;
}

.navi-project-name{
  font-size: 11px;
  color: #888;
  line-height: 1em;
  display: block;
}

#ticket-description .col-lg-12{
  padding: 20px 45px 20px 45px;
  margin-bottom: 20px;
}

.header-add-member{
  background-color: #f3f3f4;
}

.reject-arrow{
  vertical-align: top !important;
  text-align: right !important;
}
.reject-arrow .fa{
    margin-top: 17px;
}

.reject-message{}

.reject-message small{
  display: block;
  margin-bottom: 20px;
  margin-top: 15px;
}


/* client */

.project-client-projects .client-projects{
  font-size: 12px;
  font-weight: 600;
}

.project-client-projects .client-tickets{
  font-size: 12px;
  font-weight: 600;
}

.project-client-projects .fa{
  font-size: 12px;
  margin-right: 5px;
}

.project-client-projects a{
  color: #aaa;
  border-bottom: 1px dotted #aaa;
  display: table;
}

.project-client-projects a:hover{
  color: #1ab394;
  border-bottom: 1px dotted #1ab394;
}

.rate{
  font-weight: 600;
  font-size: 14px;
}

.contract{
  color: #333;
}

.contract-paragraphs{
  background:#f9f9f9;
  color: #676a6c;
  height: 350px;
  overflow: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.contract-paragraphs.no-height{
  height: 100%;
  margin-bottom: 50px;
}

.terms.loginscreen.middle-box {
  width: 500px;
  max-width: 500px;
}

.terms.loginscreen.middle-box .contract-paragraphs{
  height: 450px;
  background: #444;
  color: #fff;
}

.terms.loginscreen.middle-box .contract-paragraphs hr{
  border-color: #333;
}

.form-group.terms label{
  color: #fff;
}

.previous-next{
  float: left;
  margin-top: 8px;
}

.previous-next.previous{
  margin-right: 15px;
}

.previous-next.next{
  margin-left: 15px;
}

.previous-next a{
  color: #aaa;
}

.btn-group.weeks .btn-group-xs{
  padding: 5px 15px;
}

.btn-group.weeks{
  float: left;
  margin-right: 10px;
}

.tabs-container .nav-tabs > li.active > a, .tabs-container .nav-tabs > li.active > a:hover, .tabs-container .nav-tabs > li.active > a:focus {
  font-weight: 600;
}

.dashboard-report-invoice-reports{
  height:400px;
  overflow: auto;
}

.realtime-info-box{
  background: #f9f9f9;
}

.realtime-info-text{
  color: #999;
}

.report-list .table-head{
  background-color: #ecfff8;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

.report-list .table-hover > tbody > tr:hover{
  background-color: #fcfcfc !important;
}

.report-list .table-head.realt-time{
  text-align: right;
}
.report-list .table-head.realt-time .fa{
  margin-right: 5px;
}
.report-list .table-info{
  background-color: #fcfcfc;
  color: #aaa;
}
.report-table{
  margin-bottom: 10px;
}
.report-list .table-info.estimation {
  text-align: right;
}

.report-list .table-info.real-time {
  text-align: right;
}

.report-list .estimation{
  text-align: right;
}

.report-list .real-time{
  text-align: right;
}

.total-estimation{
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  padding-right:10px;
  border-right: 1px solid #eee;
}

.total-real-time  {
  display: inline-block;
  text-align: left
}

/* MOBILE */
@media (max-width: 350px) {
  .nav.navbar-top-links li.dropdown {
    display: block;
    float: left;
  }
  .navbar-top-links li a {
    min-height: 50px;
    padding: 20px 10px;
  }
  .navbar-top-links .dropdown-messages {
  margin-left: -60px;
  }
  .btn-table-mobile .btn{
  width: 100%;
  margin-bottom: 5px;
  }

  td{
    vertical-align: middle;
  }
  .footable-row-0detail-row {
    margin-bottom: 10px;
    display: inherit;
  }
}

/*extras*/
select.select3 {
    padding:4px 25px 4px 4px;
    height: 34px;
    margin: 0;
    background: #fff;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 215px;
    font-family: 'Open Sans';
    font-weight: 400;
    border: 1px solid #e5e6e7;
    border-radius: 3px;
}

select.select3:hover{
  border-color: #1ab394;
  transition: all 0.5s;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select.select3 {padding-right:18px}
}

label.label3 {position:relative}
label.label3:after {
  color: #aaa;
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 11px;
  padding: 0 0 2px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 9px;
}
label.label3:before {
  background: transparent;
  content: "";
  display: block;
  height: 33px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 34px;
}
.laoder{
  width: 100%;
  text-align: center;
}
.beta{
  display: block;
  font-size: 12px;
  color: #666;
  margin-top: 10px;
}
.project-files a.ticketFile{
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}
.ticketFileTrash{
  height: 30px;
  width: 20%;
  float: left;
  text-align: right;
  border: 0px;
  background: none;
}
