  <script>
        $(document).ready(function() {
            $('.footable').footable();
        });
    </script>

    <!-- select2 -->
    <script>
        $('.select2').select2();
    </script>
 <div id="wrapper">
 	 <div side-bar></div>

 	 <div id="page-wrapper" class="gray-bg">
 	 	<div nav-menu></div>
 	 	 <!--header title-->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h2><i class="fa fa fa-building"></i> Client</h2>
                    <ol class="breadcrumb">
                        <li>
                            flexwork.io
                        </li>
                        <li>
                            Client
                        </li>
                    </ol>
                </div>
            </div>
            <!--end header title-->
    <!--main content-->
            <div class="wrapper wrapper-content animated fadeInRight ecommerce">
                <div class="ibox-content m-b-sm border-bottom">
                    <div class="row">
                        <div class="col-sm-12">
                            <button ng-click="OpenCreateModal(null)" type="button" class="btn btn-primary btn-bitbucket"><i class="fa fa-plus"></i> Add Client</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-content">

                             <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                   placeholder="Search in table">

                            <table class="footable table table-stripped" data-page-size="10" data-filter=#filter>
                                <thead>
                                <tr>
                                    <th data-hide="phone" data-sort-ignore="true" width="100">ID</th>
                                    <th data-hide="" data-sort-ignore="true">Client</th>
                                    <th data-hide="phone" data-sort-ignore="true">Name</th>
                                    <th data-hide="" data-sort-ignore="true">Email</th>
                                    <th data-hide="phone" data-sort-ignore="true">Telephone</th>
                                    <th data-hide="" data-sort-ignore="true" >Projects / Tasks</th>
                                    <th data-hide="" data-sort-ignore="true" width="100">Users</th>
                                    <th data-hide="phone" class="text-right" width="250" data-sort-ignore="true">Action</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="client in customers">

                                    <!--customer item-->
                                    <tr>
                                        <td>
                                           {{client.id}}
                                        </td>
                                        <td>
                                            {{client.companyname}}
                                        </td>
                                        <td>
                                            {{client.name}} {{client.surname}}
                                        </td>
                                        <td>
                                            {{client.email}}
                                        </td>
                                        <td>
                                            {{client.phonecode}} {{client.telnumber}}
                                        </td>
                                        <td>
                                            <span class="label label-primary"><i class="fa fa-clone"></i>{{client.projectNumber}}</span>
                                            <span class="label label-default"><i class="fa fa-square-o"></i> 38</span>
                                        </td>
                                         <td>
                                            <span class="label label-default"><i class="fa fa-users"></i> {{client.userNumber}}</span>
                                        </td>
                                        <td class="text-right">
                                             <div class="btn-table-mobile">
                                                <button class="btn btn-white btn-bitbucket btn-sm" type="button" ng-click="OpenCreateModal(client)"><i class="fa fa-pencil"></i> Edit</button>
                                                <button class="btn btn-white btn-bitbucket btn-sm" type="button"><i class="fa fa-users"></i> Users</button>
                                                <button class="btn btn-white btn-bitbucket btn-sm" type="button"><i class="fa fa-clone"></i> Projects</button>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="8">
                                        <ul class="pagination pagination-sm pull-right" ng-repeat="page in pagecount">
                                            
                                            <li ng-if="page==currentpage" class="active">
                                                <a ng-if="page=='<<'" ng-click="firstpage()">{{page}}</a>
                                                <a ng-if="page=='<'" ng-click="prevouispage()">{{page}}</a>
                                                <a ng-if="page=='>'" ng-click="nextpage()">{{page}}</a>
                                                 <a ng-if="page=='>>'" ng-click="lastpage()">{{page}}</a>
                                                 <a ng-if="page!='>>' && page!='>' && page!='<' && page!='<<'" ng-click="navigatetopage(page)">{{page}}</a>
                                            </li>
                                            <li ng-if="page!=currentpage"><a ng-if="page=='<<'" ng-click="firstpage()">{{page}}</a>
                                                <a ng-if="page=='<'" ng-click="prevouispage()">{{page}}</a>
                                                <a ng-if="page=='>'" ng-click="nextpage()">{{page}}</a>
                                                 <a ng-if="page=='>>'" ng-click="lastpage()">{{page}}</a>
                                                 <a ng-if="page!='>>' && page!='>' && page!='<' && page!='<<'" ng-click="navigatetopage(page)">{{page}}</a></li>
                                                                                     
                                        </ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <!--end main content-->

            <!--footer-->
            <div class="footer">
                <div>
                     &copy;2015 &middot; <b>flexwork.io</b> &middot; <a href="privacy-terms-fxw.html">Privacy and Terms</a> &middot; <a href="imprint-fxw.html">Imprint</a>
                </div>
            </div>
            <!--end footer-->
   
        </div>
        <!--end page wrapper-->

    </div>
    <!--modal add client-->
    <div class="modal inmodal fade" id="add-client" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" ng-if="!isEdit"><i class="fa fa-user-plus modal-fa-icon"></i> Add Client</h4>
                    <h4 class="modal-title" ng-if="isEdit"><i class="fa fa-user-plus modal-fa-icon"></i> Edit Client</h4>
                </div>
                <div class="modal-body">
                     <div class="row">
                        <div class="col-md-6">
                            <h4>Contact</h4>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Company Name" required="" ng-model="companyname">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control login-first-name" placeholder="First Name" required="" ng-model="name">
                                <input type="text" class="form-control login-last-name" placeholder="Last Name" required="" ng-model="surname">
                                <div class="clear-both"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Vat" required="" ng-model="vat">
                            </div>
                            <div class="form-group m-0">
                                <!--select-->
                                <div class="select-option f-left m-0" style="width: 30%; margin-right: 2.5% ! important;" >
                                    <select class="select2" ng-model="phonecode" id="phonecode">
                                        <option>+49</option>
                                        <option>+90</option>
                                        <option>+216</option>
                                    </select>
                                </div>
                                <input type="text" class="form-control" ng-model="phonenumber" placeholder="Telephone" style="width: 67.5%;">
                            </div>

                        </div><!--col-md-->

                        <div class="col-md-6">
                            <h4>Location</h4>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="City" required="" ng-model="city">
                            </div> 
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Zip" required="" ng-model="zipcode">
                            </div> 
                            <div class="form-group">
                                <div class="select-option m-0" style="width: 100%;">
                                    <select class="select2" ng-model="country">
                                        <option>Country</option>
                                        <option>Turkey</option>
                                        <option>Tunisia</option>
                                        <option>Germany</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <textarea class="form-control" placeholder="Address" style="height:83px;" ng-model="address"></textarea>
                            </div> 
                        </div><!--col-md-->

                        <div class="col-md-12">
                            <div class="hr-line-solid"></div>
                        </div>

                        <div class="col-md-6">
                            <h4>Access</h4>

                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" required="" ng-model="email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" required="" ng-model="password">
                            </div>

                            <div class="form-group m-0">
                                <!--select-->
                                <div class="select-option m-0" style="width: 100%;">
                                    <select class="select2" disabled="disabled">
                                        <option>Role</option>
                                        <option selected="selected">Administrator</option>
                                    </select>
                                </div>
                            </div>
                        </div><!--col-md-->

                        <div class="col-md-6">
                            <h4>Key Account</h4>
                            <div class="form-group mb-0">
                                <div class="select-option m-0" style="width: 100%;">
                                    <select class="select2" id="keyaccountselect" ng-model="selectedKeyaccount">
                                        <option ng-repeat="keyaccount in keyaccounts" value="{{keyaccount.id}}">{{keyaccount.name}} {{keyaccount.surname}}</option>
                                    </select>
                                </div>
                            </div>
                            
                        </div>
                     </div><!--row-->
                </div>
                <div class="modal-footer">
                    <div class="row" ng-if="!isEdit">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="checkbox checkbox-primary mt-5 mb-5">
                                    <input type="checkbox" id="checkbox3" ng-model="isSent">
                                    <label for="checkbox3">Send login information to user</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="createClient(null)">Save</button>
                        </div>
                    </div>
                     <div ng-if="isEdit">
                        <a class="f-left mt-5" data-toggle="modal" data-target="#delete"><small>Delete Account</small></a>
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="createClient(oldclient)">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
<!--success modal-->
    <div class="modal inmodal fade" id="success" tabindex="-1" role="dialog"  aria-hidden="true" style="top:150px;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <div class="modal-title"><i class="glyphicon glyphicon-ok-circle"> Alright :)</i></div>
                </div>
                <div class="modal-body">
                   <p class="modal-content-center m-0"></p>
                </div>
                
            </div>
        </div>
    </div> 
<!--failure modal-->
    <div class="modal inmodal fade" id="failure" tabindex="-1" role="dialog"  aria-hidden="true" style="top:150px;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <div class="modal-title"><i class="glyphicon glyphicon-remove-circle"> Oopss :(</i></div>
                </div>
                <div class="modal-body">
                   <p class="modal-content-center m-0"></p>
                </div>
                
            </div>
        </div>
    </div> 
<!--warning modal-->
    <div class="modal inmodal fade" id="warning" tabindex="-1" role="dialog"  aria-hidden="true" style="top:150px;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <div class="modal-title"><i class="glyphicon glyphicon-warning-sign"> Hey hey!!</i></div>
                </div>
                <div class="modal-body">
                   <p class="modal-content-center m-0"></p>
                </div>
                
            </div>
        </div>
    </div> 
 <!--modal delete-->
    <div class="modal inmodal fade" id="delete" tabindex="-1" role="dialog"  aria-hidden="true" style="top:150px;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><i class="fa fa-trash modal-fa-icon"></i> Delete</h4>
                </div>
                <div class="modal-body">
                   <p class="modal-content-center m-0">Do you really want to delete it?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="deleteClient(oldclient)">Delete</button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> 