  <!-- image cropper script-->
    <script>
        $(document).ready(function(){

            var $image = $(".image-crop > img")
            $($image).cropper({
                aspectRatio:  4 / 3,
                preview: ".img-preview",
                done: function(data) {
                    // Output the result data for cropping image.
                }
            });

            var $inputImage = $("#inputImage");
            if (window.FileReader) {
                $inputImage.change(function() {
                    var fileReader = new FileReader(),
                            files = this.files,
                            file;

                    if (!files.length) {
                        return;
                    }

                    file = files[0];

                    if (/^image\/\w+$/.test(file.type)) {
                        fileReader.readAsDataURL(file);
                        fileReader.onload = function () {
                            $inputImage.val("");
                            $image.cropper("reset", true).cropper("replace", this.result);
                        };
                    } else {
                        showMessage("Please choose an image file.");
                    }
                });
            } else {
                $inputImage.addClass("hide");
            }

            $("#download").click(function() {
                window.open($image.cropper("getDataURL"));
            });

            $("#zoomIn").click(function() {
                $image.cropper("zoom", 0.1);
            });

            $("#zoomOut").click(function() {
                $image.cropper("zoom", -0.1);
            });

            $("#rotateLeft").click(function() {
                $image.cropper("rotate", 45);
            });

            $("#rotateRight").click(function() {
                $image.cropper("rotate", -45);
            });

            $("#setDrag").click(function() {
                $image.cropper("setDragMode", "crop");
            });

            $('#data_5 .input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });

            var elem_3 = document.querySelector('.js-switch_3');
            var switchery_3 = new Switchery(elem_3, { color: '#1AB394' });
            var elem_4 = document.querySelector('.js-switch_4');
            var switchery_4 = new Switchery(elem_4, { color: '#1AB394' });
             }); 

            $('#datepicker').datepicker({
            format: "dd/mm/yyyy"
            });

    </script>
   
   
<div id="wrapper">
       <div side-bar></div>
       
<!--page wrapper-->
        <div id="page-wrapper" class="gray-bg">
            <div nav-menu></div>
          
            <!--header title-->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-9">
                    <h2><i class="fa fa-user"></i> Profile</h2>
                    <ol class="breadcrumb">
                        <li>
                            flexwork.io
                        </li>
                        <li>
                            User
                        </li>
                        <li>
                           {{name}} {{surname}}
                        </li>
                    </ol>
                </div>
            </div>
            <!--end header title-->


            <!--wrapper-->
            <div class="wrapper wrapper-content animated fadeInRight">
                <!--row2-->
                <div class="row">

                    <!--user ibox-->
                    <div class="col-lg-4">
                        <div class="col-lg-12 p-0">
                            <div class="ibox-users float-e-margins mb-15">
                            <div class="ibox-users-title">
                                <span class="ibox-users-picture users">
                                    <img width="48" heigth="48" class="img-circle" src="{{photo}}" alt="Picture">
                                </span>
                                <h5>{{name}} {{surname}}</h5>
                                <span class="ibox-users-job-title">{{title}}</span>
                                <span class="ibox-users-email">{{email}}</span>
                            </div>
                            <div class="ibox-users-content">
                                <div class="ibox-users-action">
                                    <button type="button" class="btn btn-white btn-sm" ng-click="openImageUplaoder(olduser)"><i class="fa fa-camera"></i></button>
                                    <button type="button" class="btn btn-white btn-sm" ng-click="openmemberForm(olduser)"><i class="fa fa-pencil"></i></button>
                                    <span class="ibox-users-action-line"></span>
                                    <button onclick="parent.location='tel:{{phonecode}}{{phonenumber}}'" class="btn btn-white btn-sm" type="button"><i class="fa fa-phone"></i></button>
                                    <button onclick="parent.location='mailto:{{email}}'" class="btn btn-white btn-sm" type="button"><i class="fa fa-envelope"></i></button>
                                </div>
                            </div>
                            </div>
                        </div><!--col-lg-->

                        <div class="col-lg-12 p-0">
                            <div class="col-lg-12 p-0">
                                <div class="ibox-box float-e-margins mb-15">
                                    <div class="ibox-box-title">
                                        <h5><i class="fa fa-clone"></i> Projects</h5>
                                    </div>
                                    <div class="ibox-box-content">
                                        <span class="label label-default">Captain 13</span>
                                        <span class="label label-default">Website 24</span>
                                        <span class="label label-default">Newsletter 0</span>
                                    </div>
                                </div>
                            </div>
                           
                        </div><!--col-lg-->

                    </div><!--col-lg-->

                    <div class="col-lg-8">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Activites</h5>
                            </div>
                            <div class="ibox-content">

                                <div>
                                    <div class="feed-activity-list">

                                        <div class="feed-element">
                                            <a href="#" class="pull-left">
                                                <img width="38" heigth="38" class="img-circle" src="img/users/profile_default_small.jpg" alt="Picture">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right">10m ago</small>
                                                <strong>Stefan</strong> create new task <a href=""><strong>flexwork.io &raquo; Backend &raquo; Team</strong></a>. <br>
                                                <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                            </div>
                                        </div>

                                        <div class="feed-element">
                                            <a href="#" class="pull-left">
                                                <img width="38" heigth="38" class="img-circle" src="img/users/profile_default_small.jpg" alt="Picture">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right">10m ago</small>
                                                <strong>Stefan</strong> create new task <a href=""><strong>flexwork.io &raquo; Backend &raquo; User</strong></a>. <br>
                                                <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                            </div>
                                        </div>

                                        <div class="feed-element">
                                            <a href="#" class="pull-left">
                                                <img width="38" heigth="38" class="img-circle" src="img/users/profile_default_small.jpg" alt="Picture">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right text-navy">1m ago</small>
                                                <strong>Stefan</strong> started the task <a href=""><strong>23media.de &raquo; Captain &raquo; User Profile</strong></a>. <br>
                                                <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                            </div>
                                        </div>

                                        <div class="feed-element">
                                            <a href="#" class="pull-left">
                                                <img width="38" heigth="38" class="img-circle" src="img/users/profile_default_small.jpg" alt="Picture">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right">5m ago</small>
                                                <strong>Stefan</strong> create new task <a href=""><strong>23media.de &raquo; Captain &raquo; UI-Design</strong></a>. <br>
                                                <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                            </div>
                                        </div>

                                        <div class="feed-element">
                                            <a href="#" class="pull-left">
                                                <img width="38" heigth="38" class="img-circle" src="img/users/profile_default_small.jpg" alt="Picture">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right">10m ago</small>
                                                <strong>Stefan</strong> create new project <a href=""><strong>flexwork.io &raquo; Backend</strong></a>. <br>
                                                <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                            </div>
                                        </div>

                                        <div class="feed-element">
                                            <a href="#" class="pull-left">
                                                <img width="38" heigth="38" class="img-circle" src="img/users/profile_default_small.jpg" alt="Picture">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right">2h ago</small>
                                                <strong>Stefan</strong> posted message on <a href=""><strong>23media.de &raquo; Captain &raquo; UI-Design</strong></a>. <br>
                                                <small class="text-muted">Today 2:10 pm - 12.06.2014</small>
                                                <div class="well">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                                    Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                                </div>
                                            </div>
                                        </div>

                                        <div class="feed-element">
                                            <a href="#" class="pull-left">
                                                <img width="38" heigth="38" class="img-circle" src="img/users/profile_default_small.jpg" alt="Picture">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right">1m ago</small>
                                                <strong>Stefan</strong> started the task <a href=""><strong>23media.de &raquo; Captain &raquo; Bugs</strong></a>. <br>
                                                <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                            </div>
                                        </div>

                                        <div class="feed-element">
                                            <a href="#" class="pull-left">
                                                <img width="38" heigth="38" class="img-circle" src="img/users/profile_default_small.jpg" alt="Picture">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right">5m ago</small>
                                                <strong>Stefan</strong> create new task <a href=""><strong>23media.de &raquo; Captain &raquo; Change Hardware List</strong></a>. <br>
                                                <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                            </div>
                                        </div>

                                        <div class="feed-element">
                                            <a href="#" class="pull-left">
                                                <img width="38" heigth="38" class="img-circle" src="img/users/profile_default_small.jpg" alt="Picture">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right">10m ago</small>
                                                <strong>Stefan</strong> create new project <a href=""><strong>23media.de &raquo; Captain &raquo; Icons</strong></a>. <br>
                                                <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                            </div>
                                        </div>
                                        <div class="feed-element">
                                            <a href="#" class="pull-left">
                                                <img width="38" heigth="38" class="img-circle" src="img/users/profile_default_small.jpg" alt="Picture">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right">2h ago</small>
                                                <strong>Stefan</strong> posted message on <a href=""><strong>23media.de &raquo; Captain &raquo; UI-Design</strong></a>. <br>
                                                <small class="text-muted">Today 2:10 pm - 12.06.2014</small>
                                                <div class="well">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                                    Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <button class="btn btn-primary btn-block m"><i class="fa fa-arrow-down"></i> Show More</button>
                                </div>
                            </div>
                        </div> 
                    </div><!--col-lg-->
                </div>
                <!--end row2-->
            </div>
            <!--end wrapper-->

            <!--footer-->
            <div class="footer">
                <div>
                     &copy;2015 &middot; <b>flexwork.io</b> &middot; <a href="privacy-terms-fxw.html">Privacy and Terms</a> &middot; <a href="imprint-fxw.html">Imprint</a>
                </div>
            </div>
            <!--end footer-->
   
        </div>
  <div class="modal inmodal fade" id="add-user" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" ng-if="!isEdit"><i class="fa fa-user-plus modal-fa-icon" ></i> Add User</h4>
                    <h4 class="modal-title" ng-if="isEdit"><i class="fa fa-user-plus modal-fa-icon" ></i> Edit User</h4>
                </div>
                <div class="modal-body">
                     <div class="row">
                        <div class="col-md-6">
                            <h4>Contact</h4>
                            <div class="form-group">
                                <input type="text" class="form-control login-first-name" placeholder="First Name" required="" ng-model="name">
                                <input type="text" class="form-control login-last-name" placeholder="Last Name" required="" ng-model="surname">
                                <div class="clear-both"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Job Title" required="" ng-model="title">
                            </div>
                            <div class="form-group m-0">
                                <!--select-->
                                <div class="select-option f-left m-0" style="width: 30%; margin-right: 2.5% ! important;"  >
                                    <select class="select2" ng-model="phonecode" id-"phonecodeselect">
                                        <option>+49</option>
                                        <option>+90</option>
                                        <option>+216</option>
                                    </select>
                                </div>
                                <input type="text" class="form-control" placeholder="Telephone" style="width: 67.5%;" ng-model="phonenumber">
                            </div>
                        </div><!--col-md-->

                        <div class="col-md-6">
                            <h4>Access</h4>

                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" required="" ng-model="email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" required="" ng-model="password">
                            </div>

                            <div class="form-group m-0">
                                <!--select-->
                                <div class="select-option m-0" style="width: 100%;">
                                    <select class="select2" disabled="disabled">
                                        <option>Role</option>
                                        <option selected="selected">Administrator</option>
                                    </select>
                                </div>
                            </div>
                        </div><!--col-md-->

                        <div class="col-md-12">
                            <div class="hr-line-solid"></div>
                            <div class="form-group mb-0">
                                <div class="row">
                                    <label class="col-lg-6 add-user-label">Activate account?</label>
                                    <div class="col-lg-6 add-user-switch">
                                        <input type="checkbox" class="js-switch_3" checked/>
                                    </div>
                                </div>
                            </div>
                        </div><!--col-md-->
                     </div><!--row-->
                </div>
                <div class="modal-footer">
                    <div class="row" ng-if="!isEdit">
                        <div class="col-md-6" >
                            <div class="input-group">
                                <div class="checkbox checkbox-primary mt-5 mb-5">
                                    <input type="checkbox" id="checkbox3" ng-model="issent">
                                    <label for="checkbox3">Send login information to user</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="createClient(null)">Save</button>
                        </div>
                    </div>
                     <div ng-if="isEdit">
                        <a class="f-left mt-5" data-toggle="modal" data-target="#delete"><small>Delete Account</small></a>
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="createClient(olduser)">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>  
 <!--modal change picture-->
    <div class="modal inmodal fade" id="change-picture" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><i class="fa fa-camera modal-fa-icon"></i> Change Picture</h4>
                </div>
                <div class="modal-body">
                   <div class="row">
                        <div class="col-md-6">
                                <div class="image-crop">
                                    <img src="img/users/big-image.jpg">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4>Preview image</h4>
                                <div class="img-preview img-preview-sm"></div>
                                <h4>Comon method</h4>
                                <p>
                                    You can upload new image to crop container and easy download new cropped image.
                                </p>
                                <div class="btn-group">
                                    <label title="Upload image file" for="inputImage" class="btn btn-primary">
                                        <input type="file" accept="image/*" name="file" id="inputImage" class="hide">
                                        Upload new image
                                    </label>
                                    <label title="Donload image" id="download" class="btn btn-primary">Download</label>
                                </div>
                                <h4>Other method</h4>
                                <p>
                                    You may set cropper options with <code>$({image}).cropper(options)</code>
                                </p>
                                <div class="btn-group">
                                    <button class="btn btn-white" id="zoomIn" type="button">Zoom In</button>
                                    <button class="btn btn-white" id="zoomOut" type="button">Zoom Out</button>
                                    <button class="btn btn-white" id="rotateLeft" type="button">Rotate Left</button>
                                    <button class="btn btn-white" id="rotateRight" type="button">Rotate Right</button>
                                    <button class="btn btn-warning" id="setDrag" type="button">New crop</button>
                                </div>
                            </div>
                   </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="uploadImage(olduser)">Save</button>
                </div>
            </div>
        </div>
    </div> 

    <!--modal delete-->
    <div class="modal inmodal fade" id="delete" tabindex="-1" role="dialog"  aria-hidden="true" style="top:150px;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><i class="fa fa-trash modal-fa-icon"></i> Delete</h4>
                </div>
                <div class="modal-body">
                   <p class="modal-content-center m-0">Do you really want to delete it?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="deleteUser(olduser)">Delete</button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> 
  <!--success modal-->
    <div class="modal inmodal fade" id="success" tabindex="-1" role="dialog"  aria-hidden="true" style="top:150px;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <div class="modal-title"><i class="glyphicon glyphicon-ok-circle"> Alright :)</i></div>
                </div>
                <div class="modal-body">
                   <p class="modal-content-center m-0"></p>
                </div>
                
            </div>
        </div>
    </div> 
<!--failure modal-->
    <div class="modal inmodal fade" id="failure" tabindex="-1" role="dialog"  aria-hidden="true" style="top:150px;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <div class="modal-title"><i class="glyphicon glyphicon-remove-circle"> Oopss :(</i></div>
                </div>
                <div class="modal-body">
                   <p class="modal-content-center m-0"></p>
                </div>
                
            </div>
        </div>
    </div> 
<!--warning modal-->
    <div class="modal inmodal fade" id="warning" tabindex="-1" role="dialog"  aria-hidden="true" style="top:150px;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <div class="modal-title"><i class="glyphicon glyphicon-warning-sign"> Hey hey!!</i></div>
                </div>
                <div class="modal-body">
                   <p class="modal-content-center m-0"></p>
                </div>
                
            </div>
        </div>
    </div> 