<!--wrapper-->
    <div id="wrapper">
       <div side-bar>
       </div>

        <!--page wrapper-->
        <div id="page-wrapper" class="gray-bg">

           <div nav-menu></div>

             <!--header title-->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-9">
                    <h2>Welcome</h2>
                    <ol class="breadcrumb">
                        <li>
                            Flexwork
                        </li>
                        <li>
                            Projects
                        </li>
                        <li>
                            Welcome
                        </li>
                    </ol>
                </div>
            </div>
            <!--end header title-->
            <ng-include src="'partials/adminDash.html'" ng-if="isadmin"></ng-include>
            <ng-include src="'partials/clientDashboard.html'" ng-if="isclient"></ng-include>
           


            <!--end wrapper-->

            <!--footer-->
            <div class="footer">
                <div>
                     &copy;2016 &middot; <b>flexwork.io</b> &middot; <a href="privacy-terms-fxw.html">Privacy and Terms</a> &middot; <a href="imprint-fxw.html">Imprint</a>
                </div>
            </div>
            <!--end footer-->

        </div>
        <!--end page wrapper-->


    </div>
    <!--end wrapper-->
