 <div id="wrapper">
       <div side-bar>
       </div>
<div id="page-wrapper" class="gray-bg">
    <div nav-menu></div>
   <!--header title-->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-9">
                    <h2><i class="fa fa-user"></i> Profile</h2>
                    <ol class="breadcrumb">
                        <li>
                            flexwork.io
                        </li>
                        <li>
                            Team
                        </li>
                        <li>
                            {{surname}} {{name}}
                        </li>
                    </ol>
                </div>
            </div>
            <!--end header title-->

<div class="wrapper wrapper-content animated fadeInRight">
                <!--row2-->
                <div class="row">

                    <!--user ibox-->
                    <div class="col-lg-4">
                        <div class="col-lg-12 p-0">
                            <div class="ibox-users float-e-margins mb-15">
                            <div class="ibox-users-title">
                               <span class="ibox-member-status" ng-if="status=='Team'"><span class="label">Team</span></span>
                                    <span class="ibox-member-status"><span class="label label-success" ng-if="status=='Freelancer'">Freelancer</span></span>
                                    <span class="ibox-member-status"><span class="label label-danger" ng-if="status=='Pool'">Pool</span></span>
                                <span class="ibox-users-picture">
                                    <img width="48" heigth="48" class="img-circle" src="{{photo}}" alt="Picture">
                                </span>
                                <h5>{{surname}} {{name}}</h5>
                                <span class="ibox-users-job-title">{{title}}</span>
                                <span class="ibox-users-location">{{city}}, {{country}}</span>
                            </div>
                            <div class="ibox-users-content">
                                <div class="ibox-users-action">
                                    <button type="button" class="btn btn-white btn-sm" data-toggle="modal" data-target="#change-picture"><i class="fa fa-camera"></i></button>
                                    <button type="button" class="btn btn-white btn-sm" data-toggle="modal" data-target="#edit-user"><i class="fa fa-pencil"></i></button>
                                    <span class="ibox-users-action-line"></span>
                                    <button ng-click="call()" class="btn btn-white btn-sm" type="button"><i class="fa fa-phone"></i></button>
                                    <button ng-click="sendemail()" class="btn btn-white btn-sm" type="button"><i class="fa fa-envelope"></i></button>
                                </div>
                            </div>
                            </div>
                        </div><!--col-lg-->

                        <div class="col-lg-12 p-0">
                            <div class="col-lg-12 p-0">
                                <div class="ibox-box float-e-margins mb-15">
                                    <div class="ibox-box-title">
                                        <h5><i class="fa fa-clone"></i> Tasks</h5>
                                    </div>
                                    <div class="ibox-box-content">
                                        <span class="label label-danger">Assigned 22</span>
                                       <span class="label label-primary">In Progress 4</span>
                                       <span class="label label-default">Complete 57</span>
                                    </div>
                                </div>
                            </div>
                           
                        </div><!--col-lg-->

                        <div class="col-lg-12 p-0">
                            <div class="col-lg-6 p-0">
                                <div class="ibox-box float-e-margins mb-15">
                                <div class="ibox-box-title">
                                    <h5><i class="fa fa-dot-circle-o"></i> Status</h5>
                                </div>
                                <div class="ibox-box-content">
                                    {{status}}
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-6 p-0">
                                <div class="ibox-box float-e-margins mb-15">
                                <div class="ibox-box-title">
                                    <h5><i class="fa fa-hourglass-end"></i> Capacity</h5>
                                </div>
                                <div class="ibox-box-content">
                                    {{capacity}} hours per week 
                                </div>
                                </div>
                            </div>
                        </div><!--col-lg-->

                        <div class="col-lg-12 p-0">
                            <div class="ibox-box float-e-margins mb-15">
                            <div class="ibox-box-title">
                                <h5><i class="fa fa-gears"></i> Skills</h5>
                            </div>
                            <div class="ibox-box-content">
                                <ul class="p-0 m-0" ng-repeat="skill in skills">
                                    <li class="label tags">{{skill}}</li>
                                </ul>
                            </div>
                            </div>
                        </div><!--col-lg-->

                        <div class="col-lg-12 p-0">
                            <div class="ibox-box float-e-margins mb-15">
                            <div class="ibox-box-title">
                                <h5><i class="fa fa-clock-o"></i> Away</h5>
                            </div>
                            <div class="ibox-box-content">
                                 <ul class="p-0 m-0 mb-15">
                                    <li class="label tags away">
                                        <span class="away-text">10 days </span> 
                                        <span class="away-date">10/08/2015 - 20/08/2015</span> 
                                        <span class="away-link"><a class="delete-date" data-target="#delete" data-toggle="modal"><i class="fa fa-close"></i></a></span>
                                    </li>
                                    <li class="label tags away">
                                        <span class="away-text">1 day</span> 
                                        <span class="away-date">02/10/2015</span> 
                                        <span class="away-link"><a class="delete-date" data-target="#delete" data-toggle="modal"><i class="fa fa-close"></i></a></span>
                                    </li>
                                </ul>

                                <div class="form-group m-0">
                                    <a data-toggle="modal" data-target="#add-date"><i class="fa fa-calendar-plus-o fa-add-date"></i> Add Date</a>
                                </div>
                            </div>
                            </div>
                        </div><!--col-lg-->

                    </div><!--col-lg-->

                    <div class="col-lg-8">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Activites</h5>
                            </div>
                            <div class="ibox-content">

                                <div>
                                    <div class="feed-activity-list">

                                        <div class="feed-element">
                                            <a href="#" class="pull-left">
                                                <img width="38" heigth="38" class="img-circle" src="img/users/profile_md_small.jpg" alt="Picture">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right">10m ago</small>
                                                <strong>Muhammed</strong> create new task <a href=""><strong>flexwork.io &raquo; Backend &raquo; Team</strong></a>. <br>
                                                <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                            </div>
                                        </div>

                                        <div class="feed-element">
                                            <a href="#" class="pull-left">
                                                <img width="38" heigth="38" class="img-circle" src="img/users/profile_md_small.jpg" alt="Picture">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right">10m ago</small>
                                                <strong>Muhammed</strong> create new task <a href=""><strong>flexwork.io &raquo; Backend &raquo; User</strong></a>. <br>
                                                <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                            </div>
                                        </div>

                                        <div class="feed-element">
                                            <a href="#" class="pull-left">
                                                <img width="38" heigth="38" class="img-circle" src="img/users/profile_md_small.jpg" alt="Picture">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right text-navy">1m ago</small>
                                                <strong>Muhammed</strong> started the task <a href=""><strong>23media.de &raquo; Captain &raquo; User Profile</strong></a>. <br>
                                                <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                            </div>
                                        </div>

                                        <div class="feed-element">
                                            <a href="#" class="pull-left">
                                                <img width="38" heigth="38" class="img-circle" src="img/users/profile_md_small.jpg" alt="Picture">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right">5m ago</small>
                                                <strong>Muhammed</strong> create new task <a href=""><strong>23media.de &raquo; Captain &raquo; UI-Design</strong></a>. <br>
                                                <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                            </div>
                                        </div>

                                        <div class="feed-element">
                                            <a href="#" class="pull-left">
                                                <img width="38" heigth="38" class="img-circle" src="img/users/profile_md_small.jpg" alt="Picture">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right">10m ago</small>
                                                <strong>Muhammed</strong> create new project <a href=""><strong>flexwork.io &raquo; Backend</strong></a>. <br>
                                                <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                            </div>
                                        </div>

                                        <div class="feed-element">
                                            <a href="#" class="pull-left">
                                                <img width="38" heigth="38" class="img-circle" src="img/users/profile_md_small.jpg" alt="Picture">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right">2h ago</small>
                                                <strong>Muhammed</strong> posted message on <a href=""><strong>23media.de &raquo; Captain &raquo; UI-Design</strong></a>. <br>
                                                <small class="text-muted">Today 2:10 pm - 12.06.2014</small>
                                                <div class="well">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                                    Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                                </div>
                                            </div>
                                        </div>

                                        <div class="feed-element">
                                            <a href="#" class="pull-left">
                                                <img width="38" heigth="38" class="img-circle" src="img/users/profile_md_small.jpg" alt="Picture">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right">1m ago</small>
                                                <strong>Muhammed</strong> started the task <a href=""><strong>23media.de &raquo; Captain &raquo; Bugs</strong></a>. <br>
                                                <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                            </div>
                                        </div>

                                        <div class="feed-element">
                                            <a href="#" class="pull-left">
                                                <img width="38" heigth="38" class="img-circle" src="img/users/profile_md_small.jpg" alt="Picture">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right">5m ago</small>
                                                <strong>Muhammed</strong> create new task <a href=""><strong>23media.de &raquo; Captain &raquo; Change Hardware List</strong></a>. <br>
                                                <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                            </div>
                                        </div>

                                        <div class="feed-element">
                                            <a href="#" class="pull-left">
                                                <img width="38" heigth="38" class="img-circle" src="img/users/profile_md_small.jpg" alt="Picture">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right">10m ago</small>
                                                <strong>Muhammed</strong> create new project <a href=""><strong>23media.de &raquo; Captain &raquo; Icons</strong></a>. <br>
                                                <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                            </div>
                                        </div>
                                        <div class="feed-element">
                                            <a href="#" class="pull-left">
                                                <img width="38" heigth="38" class="img-circle" src="img/users/profile_md_small.jpg" alt="Picture">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right">2h ago</small>
                                                <strong>Muhammed</strong> posted message on <a href=""><strong>23media.de &raquo; Captain &raquo; UI-Design</strong></a>. <br>
                                                <small class="text-muted">Today 2:10 pm - 12.06.2014</small>
                                                <div class="well">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                                    Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <button class="btn btn-primary btn-block m"><i class="fa fa-arrow-down"></i> Show More</button>
                                </div>
                            </div>
                        </div> 
                    </div><!--col-lg-->
                </div>
                <!--end row2-->
            </div>
            <!--end wrapper-->

            <!--footer-->
            <div class="footer">
                <div>
                     &copy;2015 &middot; <b>flexwork.io</b> &middot; <a href="privacy-terms-fxw.html">Privacy and Terms</a> &middot; <a href="imprint-fxw.html">Imprint</a>
                </div>
            </div>
            <!--end footer-->
   
        </div>
        <!--end page wrapper-->

    </div>
</div>