 <!--top header-->
            <div class="row border-bottom" ng-controller="MenuNavCtrl">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary "><i class="fa fa-bars"></i> </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">

                         <li class="key-account fright"> 
                            <a href="#" data-toggle="modal" data-target="#key-account">
                                <div class="ka-image"><img src="img/a6.jpg" class="img-circle" alt="image" width="35" heigth="35"></div>
                                <div class="ka-name">
                                    <span class="ka-span-1">Janine Bronzino <i class="fa fa-angle-down"></i></span>
                                    <span class="ka-span-2">+49 231 123 456 7</span>
                                </div>
                                <div class="clear-both"></div>
                            </a>
                        </li>
                         
                        
                    </ul>
                </nav>
            </div>
            <!--end top header-->