<div id="wrapper">
    <div side-bar>
    </div>
    <div id="page-wrapper" class="gray-bg">
            
		<div nav-menu></div>
		  <!--header title-->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-9">
                    <h2><i class="fa fa-clone"></i> {{project_name}}</h2>
                    <ol class="breadcrumb" ng-if="!isclient">

                       	<li>
                            {{username}}
                        </li>
                        <li>
                            projects
                        </li>
                         <li>
                            {{company_name}}
                        </li>
                        <li>
                            {{project_name}}
                        </li>
                    </ol>
                    <ol class="breadcrumb" ng-if="isclient">
                    	
                        <li>
                            {{company_name}}
                        </li>
                        <li>
                            projects
                        </li>
                        <li>
                            {{project_name}}
                        </li>
                    </ol>
                </div>
            </div>
            <!--end header title-->
             <!--main-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="wrapper wrapper-content animated fadeInUp">

                        <!-- buttons & team -->
                        <div class="row mb20">
                            <div class="col-md-6">

                                <button class="btn btn-primary btn-bitbucket btn-m mr5" type="button" data-target="#add-ticket" data-toggle="modal" ng-if="isclient"><i class="fa fa-plus mr5"></i> add ticket</button>
                                 <button class="btn btn-default btn-bitbucket btn-m mr5" type="button" data-target="#project-description" data-toggle="modal"><i class="fa fa-file-text mr5"></i> description</button>
                                <button class="btn btn-default btn-bitbucket btn-m mr5" type="button" data-target="#budgetlimit" data-toggle="modal" ng-if="isclient"><i class="fa fa-thumb-tack mr5" ></i> budgetlimit</button>
                                <button class="btn btn-default btn-bitbucket btn-m mr5" type="button" onclick="parent.location='project-keybox-website-fxw.html'"><i class="fa fa-lock mr5"></i> keybox</button>
                                <a ng-if="!isclient" class="btn btn-default btn-bitbucket btn-m mr5" href="https://fxw.slack.com/" target="_blank"><i class="fa fa-slack mr5" ></i> slack</a>
                                <a class="btn btn-default btn-bitbucket btn-m mr5" href="https://www.pivotaltracker.com/n/projects/928534" target="_blank" ng-if="!isclient"><i class="fa fa-circle-o mr5"></i> pivotal</a>
                                <a class="btn btn-default btn-bitbucket btn-m mr5" href="https://github.com/mahdinjim/crmtool/commits/master" target="_blank" ng-if="!isclient"><i class="fa fa-github mr5"></i> github</a>
                            </div>
                          
                            
                            <div class="col-md-6">
                                <div class="project-people" >
                                    <a href="" class="fxwlink-member" ng-click="openAddMember()" ng-if="!isclient"><small><i class="fa fa-plus" ></i> add member</small></a>
                                
                                
                                    <a href="" class="fxwlink-member" ng-if="hasteam && isclient"><small><i class="fa fa-comments"></i> see messages</small></a>
                                
                                
                                    <a href="" class="team-lead" ng-repeat="member in team" ng-if='member.role.role==teamroles.TeamLeader.role' ><img alt="{{member.name}}"  class="img-circle" src="{{member.photo}}"></a>
                                    <a href="" ng-repeat="member in team" ng-if='member.role.role!=teamroles.TeamLeader.role'><img alt="{{member.name}}" class="img-circle" src="{{member.photo}}"></a>
                                    
                                
                                </div>
                            </div>
                        
                        <!-- end buttons & team -->
                            <div class="col-md-6" ng-if="isclient && !hasteam">
                                <div class="project-people">
                                    <!--<a href="" class="fxwlink-member" data-toggle="modal" data-target="#add-member"><small><i class="fa fa-plus"></i> add member</small></a>-->
                                    <div class="project-status" style="margin-top:7px;">
                                        <span class="label label-default label-nobg"><img  class="progress-loading" width="15" height="15" src="img/ellipsis.gif"> team building in progress</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end buttons & team -->

                        <!-- info1 -->
                        <div class="row" ng-if="isclient">
                            <div class="col-lg-12 p0">
                                <div class="col-lg-12">
                                     <div class="alert alert-warning" style="font-size:14px;">
                                        <i class="fa fa-phone-square mr5"></i> Your contract is in progress. <b class="ml5">Janine</b> will call you about details.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 p0">
                                <div class="col-lg-12">
                                     <div class="alert alert-success" style="font-size:14px;">
                                        <i class="fa fa-file-text mr5"></i> Your contract is ready. Please confirm to start your project. 
                                         <button class="btn btn-primary btn-bitbucket btn-xs mr5 ml10" type="button" data-toggle="modal" data-target="#"><i class="fa fa-chevron-right mr5"></i> see details &amp; confirm</button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ibox" ng-if="isclient">
                           <div class="ibox-content">
                                <div class="row mb20 mt20 pt20 pb20">
                                    
                                    <div class="col-md-12 acenter mt20 mb5">
                                        <img width="55" height="49" title="flexwork.io" alt="flexwork.io" src="img/logo-grey-flexwork@2.png">
                                    </div>

                                    <div class="col-md-12 acenter">
                                         <p class="mb20 first-ticket-info">add your <i class="fa fa-angle-down mr5 ml5"></i> first ticket</p>
                                        <button class="btn btn-primary btn-bitbucket btn-xs mr5" type="button" data-target="#add-ticket" data-toggle="modal"><i class="fa fa-plus mr5"></i> add ticket</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="ibox" ng-if="!isclient">
                           <div class="ibox-content">
                                <div class="row mb20 mt20 pt20 pb20">
                                    
                                    <div class="col-md-12 acenter mt20 mb5">
                                        <img width="55" height="49" title="flexwork.io" alt="flexwork.io" src="img/logo-grey-flexwork@2.png">
                                    </div>

                                    <div class="col-md-12 acenter">
                                         This project is in Draft
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="ibox" ng-if="hasTicket">
                           <div class="ibox-content">
                                <div class="row">
                                    <!-- filter-->
                                    <div class="col-md-12 pb10">
                                        <div class="col-md-8 p0">   
                                            <div class="form-group fleft mr10 mb10">
                                                <div class="select-option select-project m-0" style="width: 150px;">
                                                    <select class="select2">
                                                        <option selected="selected">all type</option>
                                                        <option>feature</option>
                                                        <option>bug</option>
                                                        <option>concept</option>
                                                        <option>design</option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group fleft mr10 mb10">
                                                <div class="select-option select-project m-0" style="width: 150px;">
                                                    <select class="select2">
                                                        <option selected="selected">all status</option>
                                                        <option>draft</option>
                                                        <option>estimation</option>
                                                        <option>go production</option>
                                                        <option>waiting</option>
                                                        <option>production</option>
                                                        <option>accept</option>
                                                        <option>done</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-4 p0" >
                                            <div class="input-group project-search">
                                                <input type="text" placeholder="search" class="input-sm form-control"> 
                                                <span class="input-group-btn"><button type="button" class="btn btn-sm btn-primary"> go!</button> </span>
                                            </div>
                                        </div>
                                        <div style="clear:both;"></div>
                                    </div>
                                    <!-- end filter-->
                                    
                                    <!-- table project list -->
                                    <div class="col-md-12">
                                        <div class="project-list">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <tbody>
                                                    <tr>
                                                        <td width="50" class="project-table-head"></td>
                                                        <td width="150" class="project-table-head">ID</td>
                                                        <td width="1100" class="project-table-head">Title</td>
                                                        <td width="100" class="project-table-head">Estimation</td>
                                                        <td width="300" class="project-table-head">Status</td>
                                                        <td width="300" class="project-table-head aright">Action</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="project-type">
                                                            <i class="fa fa-star"></i>
                                                        </td>
                                                        <td class="project-id">
                                                            00101080
                                                        </td>
                                                        <td class="project-title">
                                                            <a href="ticket-details-client-area-references-fxw.html">Client Area References  <span class="draft">(Draft)</span></a>
                                                            <small>Muhammed created at 14.08.2014</small>
                                                        </td>
                                                        <td class="project-estimation">

                                                        </td>
                                                        <td class="project-status">
                                                            <button type="button" class="btn btn-primary btn-xs fxw-alert-start-estimation" disabled="disbaled"><i class="fa fa-chevron-right"></i> start</button>
                                                            <small>please start estimation</small>
                                                        </td>
                                                        <td class="project-actions">
                                                            <button type="button" class="btn btn-white btn-sm" data-toggle="modal" data-target="#edit-ticket"><i class="fa fa-pencil"></i> </button>
                                                            <button type="button" class="btn btn-white btn-sm fxw-alert-archive-ticket"><i class="fa fa-trash"></i> </button>
                                                            <a href="ticket-details-client-area-references-fxw.html" class="btn btn-white btn-sm"><i class="fa fa-search"></i> details</a>
                                                        </td> 
                                                    </tr>

                                                    
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end table project list-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--main-->

            <!--footer-->
            <div class="footer">
                <div>
                     &copy;2015 &middot; <b>flexwork.io</b> &middot; <a href="privacy-terms-fxw.html">Privacy and Terms</a> &middot; <a href="imprint-fxw.html">Imprint</a>
                </div>
            </div>
            <!--end footer-->
	</div>
     <!--modal add member-->
    <div class="modal inmodal fade" id="add-member" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><i class="fa fa-users modal-fa-icon"></i> Team</h4>
                </div>
                <div class="modal-body">
                    <div class="row header-ticket-types">

                        <div class="col-lg-12 p15" style="background-color: #1ab394;">
                            <div class="form-group fleft m0 mr10">
                                <div class="select-option m-0" style="width: 360px;">
                                    <select class="select2" ng-model="addedmember" id="selectdevmember" ng-options="[member.name,' ',member.surname,', ',member.role.Text].join('') for member in devteam track by member.id && member.role.role">
                                       
                                       
                                    </select>
                                </div>
                            </div>
                            <div class="form-group m0">
                                <button class="btn btn-white" type="button" ng-click="adddevmember()"><i class="fa fa-plus mr5"></i> add</button>
                            </div>
                        </div>

                        <div class="col-lg-12 mt20">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped notification mb0">
                                    <thead>
                                        <th width="200">Name</th>
                                        <th width="200">Role</th>
                                        <th width="80" class="aright">Action</th>
                                    </thead>
                                    <tbody >
                                        <tr ng-repeat="prod in team">
                                            <td class="bold">{{prod.surname}} {{prod.name}}</td>
                                            <td class="bold">
                                                {{prod.role.Text}}
                                            </td>
                                            <td class="aright">
                                                <button type="button" class="btn btn-white btn-sm fxw-alert-delete" role="button" ng-click="deleteTeamMember(prod)" ng-if='prod.role.role!=teamroles.TeamLeader.role'><i class="fa fa-close"></i></button>
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" ng-click="closeTeamModal()">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="saveTeamMembers()">Save</button>
                </div>
            </div>
        </div>
    </div>
 <!--success modal-->
    <div class="modal inmodal fade" id="teamsuccess" tabindex="-1" role="dialog"  aria-hidden="true" style="top:150px;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <div class="modal-title"><i class="glyphicon glyphicon-ok-circle"> Alright :)</i></div>
                </div>
                <div class="modal-body">
                   <p class="modal-content-center m-0"></p>
                </div>
                
            </div>
        </div>
    </div> 
    <!--failure modal-->
    <div class="modal inmodal fade" id="teamfailure" tabindex="-1" role="dialog"  aria-hidden="true" style="top:150px;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <div class="modal-title"><i class="glyphicon glyphicon-remove-circle"> Oopss :(</i></div>
                </div>
                <div class="modal-body">
                   <p class="modal-content-center m-0"></p>
                </div>
                
            </div>
        </div>
    </div> 
<!--warning modal-->
    <div class="modal inmodal fade" id="teamwarning" tabindex="100" role="dialog"  aria-hidden="true" style="top:150px;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <div class="modal-title"><i class="glyphicon glyphicon-warning-sign"> Hey!!</i></div>
                </div>
                <div class="modal-body">
                   <p class="modal-content-center m-0"></p>
                </div>
                
            </div>
        </div>
    </div> 
    <!--modal project description-->
    <div class="modal inmodal fade" id="project-description" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-m">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><i class="fa fa-file-text modal-fa-icon"></i> project description</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                             <p>{{projectDescription}}
                             </p>
                        </div>
                        <div class="col-lg-12 mt20">
                            <h4>Skills</h4>
                            <p>{{projectSkilss}}</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>  
    <div class="modal inmodal fade" id="budgetlimit" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><i class="fa fa-thumb-tack modal-fa-icon"></i> Budgetlimit</h4>
                </div>
                <div class="modal-body">
                    <p>Send notification at</p>
                    <div class="form-group m0">
                        <input type="text" class="form-control input-lg fleft budgetlimit" placeholder="0" style="width: 215px;" ng-model="budget">
                        <label class="fleft euro">€</label>
                        <div class="clear-both"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="assignBudget()">Save</button>
                </div>
            </div>
        </div>
    </div> 
</div>
</div>