 <script>
        $('.select2').select2();
    </script>
<div ng-controller="SideBarCtrl">
    <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-logo">
                            <div class="nav-logo-element">
                                <a href="#/dashboard">
                                     <img src="img/logo-flexwork@2.png" width="55" height="49" alt="flexwork.io" title="flexwork.io"/>
                                </a>
                            </div>
                        </li>

                        <!--mobile logo-->
                        <li class="nav-logo">
                            <div class="logo-element">
                                <a href="#/dashboard">
                                    <img src="img/logo-small-flexwork@2.png" width="45" height="40" alt="fxw.io" title="fxw.io"/>
                                </a>
                            </div>
                        </li>

                        <li class="nav-header">
                            <div class="dropdown profile-element"> 
                                <a data-toggle="dropdown" class="dropdown-toggle">
                                    <span class="clear"> 
                                        <span class="block m-t-xs"> <strong class="font-bold">{{company}}</strong></span> 
                                        <span class="text-muted text-xs block">{{name}} {{surname}} hello</span> 
                                        <span class="text-muted text-xs block">{{title}}<b class="caret"></b></span> 
                                    </span> 
                                </a>
                                
                                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a data-toggle="modal"  ng-click="openEditProfil(true)">Profile</a></li>
                                <!-- <li><a >Settings</a></li> -->
                                <li class="divider"></li>
                                <li><a ng-click="logout()">Log out</a></li>
                            </ul>
                        </div>
                        
                    </li>

                    <!--Mini Navbar Account-->
                    <li class="mini-navbar-account">
                        <a href="#"><i class="fa fa-user"></i> <span class="nav-label">Account</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a data-toggle="modal"  ng-click="openEditProfil(true)">Profile</a></li>
                            <!-- <li><a href="settings-fxw.html">Settings</a></li> -->
                            <li class="divider"></li>
                            <li><a ng-click="logout()">Log out</a></li>
                        </ul>
                    </li>
                    <!--End-->
                
                    <li ng-if="doDisplay('/dashboard')" ng-click="openclosetab('projecttab')" ng-class="{'active':(projectactive)}" activate-tab>
                        <a><i class="fa fa-clone"></i> <span class="nav-label">Projects</span> <span class="fa arrow"></span></a>
                        <ul id="projecttab" class="nav nav-second-level collapse" >
                            <li ng-repeat='project in projects'>
                                <a href="#/pdetails/{{project.id}}" ng-if="isclient"><span class="nav-label">{{project.name}}</a>
                                <a href="#/pdetails/{{project.id}}" ng-if="!isclient">{{project.name}}
                                    <span class="navi-project-name">{{project.company}}</span>
                                </a>
                            </li>
                            <li ng-if="canAdd"><a ng-click="openAddprojectModel()"><span style="border-bottom: 1px dotted;">+ Add Project</span></a></li>
                        </ul>
                    </li>

                    <li ng-if="doDisplay('/messaging')" ng-click="openclosetab('messagetab')" ng-class="{'active':(messageactive)}" activate-tab>
                        <a ><i class="fa fa-comments"></i> <span class="nav-label">Messages</span> <span class="label label-danger pull-right">{{totalmessages}}</span></span></a>
                        <ul id="messagetab" class="nav nav-second-level collapse">
                            <li  ng-repeat='channel in channels'><a href="#/messaging/{{channel.project_id}}/{{channel.id}}"><span class="nav-label">{{channel.name}}</span> <span class="label label-default pull-right">{{channel.newmessages}}</span></a></li>
                        </ul> 
                    </li>

                    <li ng-if="doDisplay('/team')" ng-class="{'active':(teamactive)}" activate-tab>
                        <a href="#/team"><i class="fa fa-users"></i> <span class="nav-label">Team</span></a>
                    </li>

                    <li  ng-if="doDisplay('/client')" ng-class="{'active':(clientactive)}" activate-tab>
                        <a href="#/client"><i class="fa fa-building"></i> <span class="nav-label">Client</span></a>
                    </li>

                    <li ng-if="doDisplay('/cuser')" ng-class="{'active':(cuseractive)}" activate-tab>
                        <a href="#/cuser"><i class="fa fa-users"></i> <span class="nav-label">User</span></a>
                    </li>

                    <li ng-if="doDisplay('/report')" ng-click="openclosetab('reportab')" ng-class="{'active':(reportactive)}" activate-tab>
                        <a><i class="fa fa-check-square"></i> <span class="nav-label">Report</span></a>
                        <ul id="reportab" class="nav nav-second-level collapse">
                            <li ng-repeat='project in projects'>
                                <a href="#/report/{{project.id}}/{{project.name}}" ng-if="isclient"><span class="nav-label">{{project.name}}</a>
                                <a href="#/report/{{project.id}}/{{project.name}}" ng-if="!isclient">{{project.company}}
                                    <span class="navi-project-name">{{project.name}}</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li ng-if="doDisplay('/invoice')">
                        <a href="invoice-fxw.html"><i class="fa fa-file-text"></i> <span class="nav-label">Invoice</span></a>
                    </li>

                     

                </ul>

            </div>
        </nav>

 <div class="modal inmodal fade" id="add-project" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-m">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><i class="fa fa-plus modal-fa-icon"></i> Add Project</h4>
                </div>
                <div class="modal-body">
                   <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="Project Title" ng-model="projecttitle">
                    </div>
                    <div class="form-group">
                         <textarea class="form-control textarea-keybox" placeholder="Description" ng-model="description"></textarea>
                    </div>
                     <div class="form-group" id="clientSelectionArea">
                        <div class="select-option m-0" style="width: 100%;">
                            <select class="select2" id="clientselection" ng-model="selectedClient">
                                <option ng-repeat="client in clients" value="{{client.id}}">{{client.companyname}} </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group mb0">
                        <select data-placeholder="Select Skills" class="select2 chosen-select" multiple style="width:100%;" tabindex="2" ng-model="projectskills">
                            <option ng-repeat="skill in skills" value="{{skill}}">{{skill}} </option>
                            
                        </select>
                    </div>
                    
                   
                       
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="createProject()">Save</button>
                </div>
            </div>
        </div>
    </div> 

      <!--modal edit profile-->
    <div class="modal inmodal fade" id="edit-profile-client" role="dialog" aria-hidden="true" style="overflow-y: scroll;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><i class="fa fa-user modal-fa-icon"></i> Profile</h4>
                </div>
                <div class="modal-body p0">
                  <!--row2-->
                  <div class="row">
                      <!--user ibox-->
                      <div class="col-lg-12">
                        <div class="ibox-content">
                          <div class="row">
                             <div class="col-md-12">
                                  <h4>Contact</h4>
                                 <div class="form-group">
                                     <input type="text" class="form-control login-first-name" placeholder="First Name" required="" ng-model="client_name">
                                     <input type="text" class="form-control login-last-name" placeholder="Last Name" required="" ng-model="client_surname">
                                     <div class="clear-both"></div>
                                 </div>
                                 <div class="form-group" ng-if="isClientUser">
                                     <input type="text" class="form-control" placeholder="Job Title" required="" value="UI / UX Designer" ng-model="client_jobtitle">
                                 </div>
                                 <div class="form-group m-0">
                                     <!--select-->
                                     <div class="select-option f-left m-0" style="width: 30%; margin-right: 2.5% ! important;">
                                         <select id="client_phone_code" class="select2" ng-model="client_phonecode">
                                             <option>+49</option>
                                             <option selected="selected">+90</option>
                                             <option>+216</option>
                                         </select>
                                     </div>
                                     <input type="text" class="form-control"  placeholder="Telephone" style="width: 67.5%;" ng-model="client_phonenumber">
                                 </div>
                             </div><!--col-md-->
                          </div><!--row-->
                        </div>
                        <!-- ibox -->

                        <div class="ibox-content">
                          <div class="row">
                             <div class="col-md-12">
                                <h4 class="">User Access</h4>
                                 <div class="form-group">
                                     <input type="email" class="form-control" placeholder="Email" required="" ng-model="client_login">
                                 </div>
                                 <div class="form-group">
                                       <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" data-toggle="modal" data-target="#change-password"><i class="fa fa-lock"></i> change password</button>
                                 </div>
                                 <div class="form-group m-0" ng-if="isclient">
                                     <!--select-->
                                     <div class="select-option m-0" style="width: 100%;">
                                         <select class="select2" disabled="disabled">
                                             <option>Role</option>
                                             <option selected="selected">Administrator</option>
                                         </select>
                                     </div>
                                 </div>
                             </div><!--col-md-->
                          </div><!--row-->
                        </div>
                        <!-- ibox -->
                          <div class="ibox-content mt15" ng-if="isclient">
                            <div class="row">
                               <div class="col-md-12">
                                 <h4>Company</h4>
                                 <div class="form-group">
                                     <input type="text" class="form-control" placeholder="Company Name" required="" ng-model="$parent.client_company_name">
                                 </div>
                                 <h4 class="mt15">Location</h4>
                                 <div class="form-group">
                                     <input type="text" class="form-control" placeholder="City" required="" ng-model="$parent.client_company_city">
                                 </div>
                                 <div class="form-group">
                                     <div class="select-option m-0" style="width: 100%;">
                                         <select ng-model="$parent.client_company_country" id="client_company_country" select-two>
                                             <option >Turkey</option>
                                             <option>Tunisia</option>
                                             <option>Germany</option>
                                         </select>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <input type="text" class="form-control" placeholder="Zipcode" required="" ng-model="$parent.client_zipcode">
                                 </div>
                                 <div class="form-group mb-0">
                                     <textarea class="form-control" placeholder="Address" style="height:83px;" ng-model="$parent.client_company_address">Gülbahara Mah. Karanfil Sk. 6</textarea>
                                 </div>
                               </div><!--col-md-->
                            </div><!--row-->
                          </div>
                          <!-- ibox-->

                      </div>
                      <!-- col-lg--->
                  </div>
                  <!-- row -->

                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hr-line-solid"></div>
                            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="updateClientProfil()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--modal change password-->
    <div class="modal inmodal fade" id="change-password" role="dialog"  aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" data-toggle="modal" data-target="#edit-profile"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><i class="fa fa-lock modal-fa-icon"></i> Change password</h4>
                </div>
                <div class="modal-body p0">
                  <!--row2-->
                  <div class="row">
                      <!--user ibox-->
                      <div class="col-lg-12">

                        <div class="ibox-content pb0">
                          <div class="row">
                             <div class="col-md-12">
                                  <div class="form-group">
                                      <input type="password" class="form-control" placeholder="Current password" required="" ng-model="current_password">
                                  </div>
                                 <div class="form-group">
                                     <input type="password" class="form-control login-first-name" placeholder="New Password" required="" ng-model="new_password">
                                     <input type="password" class="form-control login-last-name" placeholder="New Password, again" required="" ng-model="repeat_new_password">
                                     <div class="clear-both"></div>
                                 </div>
                             </div><!--col-md-->
                          </div><!--row-->
                        </div>
                        <!-- ibox -->
                      </div>
                      <!-- col-lg--->
                  </div>
                  <!-- row -->
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hr-line-solid"></div>
                            <button type="button" class="btn btn-white" data-dismiss="modal" ng-click="openEditProfil(false)">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="changePassword()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
    
