 <script>
        $('select').select2();
    </script>
<div ng-controller="SideBarCtrl">
    <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-logo">
                            <div class="nav-logo-element">
                                <a href="#/dashboard">
                                     <img src="img/logo-flexwork@2.png" width="55" height="49" alt="flexwork.io" title="flexwork.io"/>
                                </a>
                            </div>
                        </li>

                        <!--mobile logo-->
                        <li class="nav-logo">
                            <div class="logo-element">
                                <a href="#/dashboard">
                                    <img src="img/logo-small-flexwork@2.png" width="60" height="14" alt="fxw.io" title="fxw.io"/>
                                </a>
                            </div>
                        </li>

                        <li class="nav-header">
                            <div class="dropdown profile-element"> 
                                <a data-toggle="dropdown" class="dropdown-toggle">
                                    <span class="clear"> 
                                        <span class="block m-t-xs"> <strong class="font-bold">{{company}}</strong></span> 
                                        <span class="text-muted text-xs block">{{surname}} {{name}} </span> 
                                        <span class="text-muted text-xs block">{{title}}<b class="caret"></b></span> 
                                    </span> 
                                </a>
                                
                                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="profile-fxw.html">Profile</a></li>
                                <li><a href="settings-fxw.html">Settings</a></li>
                                <li class="divider"></li>
                                <li><a ng-click="logout()">Log out</a></li>
                            </ul>
                        </div>
                        
                    </li>

                    <!--Mini Navbar Account-->
                    <li class="mini-navbar-account">
                        <a href="#"><i class="fa fa-user"></i> <span class="nav-label">Account</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="profile-fxw.html">Profile</a></li>
                            <li><a href="settings-fxw.html">Settings</a></li>
                            <li class="divider"></li>
                            <li><a ng-click="logout()">Log out</a></li>
                        </ul>
                    </li>
                    <!--End-->
                
                    <li ng-if="doDisplay('/dashboard')">
                        <a href="#/dashboard"><i class="fa fa-clone"></i> <span class="nav-label">Projects</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse in">
                            <li ng-repeat='project in projects'>
                                <a href="#/pdetails?project_id={{project.id}}" ng-if="isclient"><span class="nav-label">{{project.name}}</a>
                                <a href="#/pdetails?project_id={{project.id}}" ng-if="!isclient">{{project.company}}
                                    <span class="navi-project-name">{{project.name}}</span>
                                </a>
                            </li>
                            <li ng-if="canAdd"><a ng-click="openAddprojectModel()"><span style="border-bottom: 1px dotted;">+ Add Project</span></a></li>
                        </ul>
                    </li>

                    <li ng-if="doDisplay('/messaging')">
                        <a ><i class="fa fa-comments"></i> <span class="nav-label">Messages</span> <span class="label label-danger pull-right">{{totalmessages}}</span></span></a>
                        <ul class="nav nav-second-level collapse in" ng-repeat='channel in channels'>
                            <li><a href="#/messaging?channel_id={{channel.id}}"><span class="nav-label">{{channel.name}}</span> <span class="label label-default pull-right">{{channel.newmessages}}</span></a></li>
                        </ul> 
                    </li>

                    <li ng-if="doDisplay('/team')">
                        <a href="#/team"><i class="fa fa-users"></i> <span class="nav-label">Team</span></a>
                    </li>

                    <li  ng-if="doDisplay('/client')">
                        <a href="#/client"><i class="fa fa-building"></i> <span class="nav-label">Client</span></a>
                    </li>

                    <li ng-if="doDisplay('/cuser')">
                        <a href="#/cuser"><i class="fa fa-users"></i> <span class="nav-label">User</span></a>
                    </li>

                    <li ng-if="doDisplay('/report')">
                        <a href="report-fxw.html"><i class="fa fa-check-square"></i> <span class="nav-label">Report</span></a>
                    </li>

                    <li ng-if="doDisplay('/invoice')">
                        <a href="invoice-fxw.html"><i class="fa fa-file-text"></i> <span class="nav-label">Invoice</span></a>
                    </li>

                     <li>
                        <a href="faq-fxw.html"><i class="fa fa-question-circle"></i> <span class="nav-label">FAQ</span></a>
                    </li>

                </ul>

            </div>
        </nav>

 <div class="modal inmodal fade" id="add-project" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-m">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><i class="fa fa-plus modal-fa-icon"></i> Add Project</h4>
                </div>
                <div class="modal-body">
                   <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="Project Title" ng-model="projecttitle">
                    </div>
                    <div class="form-group">
                         <textarea class="form-control textarea-keybox" placeholder="Description" ng-model="description"></textarea>
                    </div>
                     <div class="form-group" id="clientSelectionArea">
                        <div class="select-option m-0" style="width: 100%;">
                            <select class="select2" id="clientselection" ng-model="selectedClient">
                                <option ng-repeat="client in clients" value="{{client.id}}">{{client.companyname}} </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group mb0">
                        <select data-placeholder="Select Skills" class="chosen-select" multiple style="width:100%;" tabindex="2" ng-model="projectskills">
                            <optgroup label="OOP">
                                <option value="PHP">PHP</option>
                                <option value="Java">Java</option>
                                <option value="C#">C#</option>
                                <option value="Python">Python</option>
                                <option value="vb.net">vb.net</option>
                                <option value="Ruby on Rails">Ruby on Rails</option>
                                <option value="Objective C">Objective C</option>
                                <option value="Action Script">Action Script</option>
                                <option value="Pearl">Pearl</option>
                            </optgroup>
                            <optgroup label="Design">
                                <option value="Web Design">Web Design</option>
                                <option value="User Interface Design">User Interface Design</option>
                                <option value="User Experience Design">User Experience Design</option>
                                <option value="Mobile Design">Mobile Design</option>
                                <option value="Responsive Design">Responsive Design</option>
                                <option value="Graphic Design">Graphic Design</option>
                            </optgroup>
                            <optgroup label="Frontend Developement">
                                <option value="HTML 5 &amp; CSS 3">HTML 5 &amp; CSS 3</option>
                                <option value="jQuery">jQuery</option>
                                <option value="Javascript">Javascript</option>
                                <option value="Bootstrap Framework">Bootstrap Framework</option>
                                <option value="Gumby Framework">Gumby Framework</option>
                                <option value="WordPress Template">WordPress Template</option>
                            </optgroup>
                        </select>
                    </div>
                    
                   
                       
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="createProject()">Save</button>
                </div>
            </div>
        </div>
    </div> 
    <!--success modal-->
    <div class="modal inmodal fade" id="success" tabindex="-1" role="dialog"  aria-hidden="true" style="top:150px;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <div class="modal-title"><i class="glyphicon glyphicon-ok-circle"> Alright :)</i></div>
                </div>
                <div class="modal-body">
                   <p class="modal-content-center m-0"></p>
                </div>
                
            </div>
        </div>
    </div> 
    <!--failure modal-->
    <div class="modal inmodal fade" id="failure" tabindex="-1" role="dialog"  aria-hidden="true" style="top:150px;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <div class="modal-title"><i class="glyphicon glyphicon-remove-circle"> Oopss :(</i></div>
                </div>
                <div class="modal-body">
                   <p class="modal-content-center m-0"></p>
                </div>
                
            </div>
        </div>
    </div> 
<!--warning modal-->
    <div class="modal inmodal fade" id="warning" tabindex="-1" role="dialog"  aria-hidden="true" style="top:150px;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <div class="modal-title"><i class="glyphicon glyphicon-warning-sign"> Hey hey!!</i></div>
                </div>
                <div class="modal-body">
                   <p class="modal-content-center m-0"></p>
                </div>
                
            </div>
        </div>
    </div> 
</div>