  <script type="text/javascript">
  var $image = $(".image-crop > img")
    $($image).cropper({
        aspectRatio:  4 / 3,
        preview: ".img-preview",
        done: function(data) {
          
        }
    });

    var $inputImage = $("#inputImage");
    if (window.FileReader) {
        $inputImage.change(function() {
            var fileReader = new FileReader(),
                    files = this.files,
                    file;

            if (!files.length) {
                return;
            }

            file = files[0];

            if (/^image\/\w+$/.test(file.type)) {
                fileReader.readAsDataURL(file);
                fileReader.onload = function () {
                    $inputImage.val("");
                    $image.cropper("reset", true).cropper("replace", this.result);
                };
            } else {
                showMessage("Please choose an image file.");
            }
        });
    } else {
        $inputImage.addClass("hide");
    }

    $("#download").click(function() {
        window.open($image.cropper("getDataURL"));
    });

    $("#zoomIn").click(function() {
        $image.cropper("zoom", 0.1);
    });

    $("#zoomOut").click(function() {
        $image.cropper("zoom", -0.1);
    });

    $("#rotateLeft").click(function() {
        $image.cropper("rotate", 45);
    });

    $("#rotateRight").click(function() {
        $image.cropper("rotate", -45);
    });

    $("#setDrag").click(function() {
        $image.cropper("setDragMode", "crop");
    });

    $('#data_5 .input-daterange').datepicker({
        keyboardNavigation: false,
        forceParse: false,
        autoclose: true
    });

    var elem_3 = document.querySelector('.js-switch_3');
    var switchery_3 = new Switchery(elem_3, { color: '#1AB394' });
    var elem_4 = document.querySelector('.js-switch_4');
    var switchery_4 = new Switchery(elem_4, { color: '#1AB394' });
    

    $('#datepicker').datepicker({
    format: "dd/mm/yyyy"
    });
    jQuery('.select2').select2();
  </script>
  <div id="wrapper">
       <div side-bar>
       </div>
<div id="page-wrapper" class="gray-bg">
            
<div nav-menu></div>
         
             <!--header title-->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-9">
                    <h2><i class="fa fa-users"></i> Team</h2>
                    <ol class="breadcrumb">
                        <li>
                            administrator
                        </li>
                        <li>
                            team
                        </li>
                        <li>
                            {{tab}}
                        </li>
                    </ol>
                </div>
            </div>
            <!--end header title-->
            <!--main-->
            <div class="row">
               
                <div class="col-lg-12">
                    <div class="wrapper wrapper-content animated fadeInUp">

                        <!-- buttons & team -->
                        <div class="row mb20">
                            <div class="col-md-6">
                                <button class="btn btn-primary btn-bitbucket btn-m mr5" type="button" ng-click="openmemberForm(null)"><i class="fa fa-plus mr5"></i> add member</button>
                            </div>
                            <div class="col-md-6 aright">
                                <div class="btn-group">
                                    <a ng-click="selectOperation()" ng-if='isoperation' class="btn btn-white btn-bitbucket btn-m"><i class="fa fa-circle-o mr5" ></i> operation</a>
                                    <a ng-if='!isoperation' ng-click="selectOperation()" class="btn btn-default btn-bitbucket btn-m"><i class="fa fa-circle-o mr5" ></i> operation</a>
                                    <a ng-if='!isexpertise' ng-click="selectExpertise()" class="btn btn-default btn-bitbucket btn-m"><i class="fa fa-crosshairs mr5" ></i> expertise</a>
                                    <a ng-if='isexpertise' ng-click="selectExpertise()" class="btn btn-white btn-bitbucket btn-m"><i class="fa fa-crosshairs mr5" ></i> expertise</a>
                                    <a ng-if="isperformance" ng-click="selectPerformance()" class="btn btn-white btn-bitbucket btn-m"><i class="fa fa-tachometer mr5"></i> performance</a>
                                    <a ng-if="!isperformance" ng-click="selectPerformance()" class="btn btn-default btn-bitbucket btn-m"><i class="fa fa-tachometer mr5"></i> performance</a>
                                </div>
                            </div>
                        </div>
                        <!-- end buttons & team -->
                        
                        <div class="ibox">
                           <div class="ibox-content">
                                <div class="row">
                                     <!-- filter-->
                <div class="col-md-12 pb10" ng-if="isperformance">
                    <div class="col-md-9 p0">
                       <div class="btn-group fleft mr10 mb10">
                           
                                <select  class="select2" ng-change="loadPerformancebyMonth()" ng-model="selectedMonth" id="monthlyselect">
                                    <option value="0">month</option>
                                    <option value="1">january</option>
                                    <option value="2">february</option>
                                    <option value="3">march</option>
                                    <option value="4">april</option>
                                    <option value="5">may</option>
                                    <option value="6">june</option>
                                    <option value="7">july</option>
                                    <option value="8">august</option>
                                    <option value="9">september</option>
                                    <option value="10">october</option>
                                    <option value="11">november</option>
                                    <option value="12">december</option>
                                </select>
                           
                        </div>

                        <div class="btn-group weeks">
                            <a ng-click="selectWeek(1)" ng-class="{'btn btn-white btn-bitbucket btn-xs':(week1selected),'btn btn-default btn-bitbucket btn-xs':(!week1selected)}"> 1 wk</a>
                            <a ng-click="selectWeek(2)" ng-class="{'btn btn-white btn-bitbucket btn-xs':(week2selected),'btn btn-default btn-bitbucket btn-xs':(!week2selected)}"> 2 wk</a>
                            <a ng-click="selectWeek(3)" ng-class="{'btn btn-white btn-bitbucket btn-xs':(week3selected),'btn btn-default btn-bitbucket btn-xs':(!week3selected)}"> 3 wk</a>
                            <a ng-click="selectWeek(4)" ng-class="{'btn btn-white btn-bitbucket btn-xs':(week4selected),'btn btn-default btn-bitbucket btn-xs':(!week4selected)}"> 4 wk</a>
                            <a ng-click="selectWeek(5)" ng-class="{'btn btn-white btn-bitbucket btn-xs':(week5selected),'btn btn-default btn-bitbucket btn-xs':(!week5selected)}"> 5 wk</a>
                        </div>
                    </div>
                   
                    <div style="clear:both;"></div>
                </div>
                <!-- end filter-->
                                    <!-- table project list -->
                                    <div class="col-md-12">
                                        <div class="project-list">
                                            <div class="table-responsive">
                                                <table class="table table-hover" ng-if='isoperation'>
                                                    <tbody>
                                                    
                                                    <!-- member 1-->
                                                    <tr>
                                                        <td width="50" class="project-table-head"></td>
                                                        <td width="600" class="project-table-head">Name</td>
                                                        <td width="550" class="project-table-head">Job Title</td>
                                                     
                                                        <td width="200" class="project-table-head">Projects</td>
                                                        <td width="250" class="project-table-head">Stories</td>
                                                        <td width="200" class="project-table-head">Status</td>
                                                        <td width="500" class="project-table-head aright">Action</td>
                                                    </tr>

                                                    <tr ng-repeat="member in team">
                                                        <td class="notification-avatar">
                                                            <img alt="image" class="img-circle mr5" src="{{member.photo}}">
                                                        </td>

                                                        <td class="project-title">
                                                            <a href="team-admin-profile-fxw.html">{{member.surname}} {{member.name}}</a> 
                                                            <small>{{member.city}}, {{member.country}}</small>
                                                        </td>
                                                        <td class="bold">
                                                           {{member.title}}
                                                           <small class="member-level" ng-if="member.level==0">
                                                           </small>
                                                             <small class="member-level" ng-if="member.level==1">
                                                            <i class="fa fa-star"></i>
                                                            
                                                           </small>
                                                             <small class="member-level" ng-if="member.level==2">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            
                                                           </small>
                                                             <small class="member-level" ng-if="member.level==3">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                           </small>
                                                        </td>
                                                   
                                                        <td class="bold">
                                                            <i class="fa fa-clone mr5"></i> {{member.projectcount}}
                                                        </td>
                                                        <td class="bold">
                                                            <i class="fa fa-square-o mr5"></i> {{member.totaltasks}} / {{member.finishedtasks}}

                                                        <td>
                                                            <span class="ibox-member-status" ng-if="member.status=='Team'"><span class="label label-primary">Team</span></span>
                                                        <span class="ibox-member-status"><span class="label label-success" ng-if="member.status=='Freelancer'">Freelancer</span></span>
                                                        <span class="ibox-member-status"><span class="label label-danger" ng-if="member.status=='Pool'">Pool</span></span>
                                                        </td>
                                                        <td class="project-actions">
                                                            <button type="button" class="btn btn-white btn-sm"  ng-click="openmemberForm(member)"><i class="fa fa-pencil"></i> </button>
                                                            <button type="button" class="btn btn-white btn-sm"  ng-click="openImageUplaoder(member)"><i class="fa fa-camera"></i> </button>
                                                            <button type="button" class="btn btn-white btn-sm" data-toggle="modal" data-target="#modal-away"><i class="fa fa-calendar"></i></button>
                                                            <a ng-click="openProfile(member)" class="btn btn-white btn-sm"><i class="fa fa-search"></i> details</a>
                                                        </td> 
                                                    </tr>

                                                                                                        
                                                    </tbody>
                                                </table>
                                                <table class="table table-hover" ng-if='isexpertise'>
                                                    <tbody>
                                                    
                                                     <tr>
                                                        <td width="50" class="project-table-head"></td>
                                                        <td width="600" class="project-table-head">Name</td>
                                                        <td width="500" class="project-table-head">Job Title</td>
                                                        <td width="100" class="project-table-head"><i class="fa fa-calendar"></i></td>
                                                        <td width="150" class="project-table-head"><i class="fa fa-clock-o"></i></td>
                                                        <td width="1200" class="project-table-head">Skills</td>
                                                        <td width="150" class="project-table-head">Status</td>
                                                        <td width="300" class="project-table-head aright">Action</td>
                                                    </tr>

                                                     <tr ng-repeat="member in team">
                                                         <td class="notification-avatar">
                                                            <img alt="image" class="img-circle mr5" src="{{member.photo}}">
                                                        </td>

                                                        <td class="project-title">
                                                            <a href="team-admin-profile-fxw.html">{{member.surname}} {{member.name}}</a> 
                                                            <small>{{member.city}}, {{member.country}}</small>
                                                        </td>
                                                        <td class="bold">
                                                           {{member.title}}
                                                           <small class="member-level" ng-if="member.level==0">
                                                           </small>
                                                             <small class="member-level" ng-if="member.level==1">
                                                            <i class="fa fa-star"></i>
                                                            
                                                           </small>
                                                             <small class="member-level" ng-if="member.level==2">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            
                                                           </small>
                                                             <small class="member-level" ng-if="member.level==3">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                           </small>
                                                        </td>
                                                         <td class="valign-top bold">
                                                           {{member.capacity}} h
                                                        </td>
                                                        <td class="valign-top">
                                                            € {{member.hourate}}
                                                        </td>
                                                   
                                                        <td class="member-skills valign-top">
                                                            <ul >
                                                                <li class="label" ng-repeat="skill in member.skills.split(',')">{{skill}}</li>
                                                               
                                                            </ul>
                                                        </td>
                                                       <td>
                                                            <span class="ibox-member-status" ng-if="member.status=='Team'"><span class="label label-primary">Team</span></span>
                                                        <span class="ibox-member-status"><span class="label label-success" ng-if="member.status=='Freelancer'">Freelancer</span></span>
                                                        <span class="ibox-member-status"><span class="label label-danger" ng-if="member.status=='Pool'">Pool</span></span>
                                                        </td>
                                                        <td class="project-actions">
                                                            <button type="button" class="btn btn-white btn-sm"  ng-click="openmemberForm(member)"><i class="fa fa-pencil"></i> </button>
                                                            <button type="button" class="btn btn-white btn-sm"  ng-click="openImageUplaoder(member)"><i class="fa fa-camera"></i> </button>
                                                            <button type="button" class="btn btn-white btn-sm" data-toggle="modal" data-target="#modal-away"><i class="fa fa-calendar"></i></button>
                                                            <a ng-click="openProfile(member)" class="btn btn-white btn-sm"><i class="fa fa-search"></i> details</a>
                                                        </td> 
                                                    </tr>

                                                 
                                                                                                        
                                                    </tbody>
                                                </table>
                                                <table class="table table-hover" ng-if="isperformance">
                                                    <tbody>
                                                    
                                                    <tr>
                                                        <td width="50" class="project-table-head"></td>
                                                        <td width="600" class="project-table-head">Name</td>
                                                        <td width="150" class="project-table-head"><i class="fa fa-clone"></i></td>
                                                        <td width="100" class="project-table-head acenter"><i class="fa fa-calendar"></i></td>
                                                        <td width="100" class="project-table-head acenter">Mon</td>
                                                        <td width="100" class="project-table-head acenter">Tue</td>
                                                        <td width="100" class="project-table-head acenter">Wed</td>
                                                        <td width="100" class="project-table-head acenter">Thu</td>
                                                        <td width="100" class="project-table-head acenter">Fri</td>
                                                        <td width="100" class="project-table-head acenter">Sat</td>
                                                        <td width="100" class="project-table-head acenter">Sun</td>
                                                        <td width="100" class="project-table-head acenter"><i class="fa fa-circle-o-notch"></i></td>
                                                        <td width="80" class="project-table-head acenter"><i class="fa fa-tachometer"></i></td>
                                                        <td width="150" class="project-table-head aright">Action</td>
                                                    </tr>

                                                    <!-- member 1-->
                                                    <tr ng-repeat="member in team track by $index">
                                                         <td class="notification-avatar">
                                                            <img alt="image" class="img-circle mr5" src="{{member.photo}}">
                                                        </td>

                                                        <td class="project-title">
                                                            <a href="team-admin-profile-fxw.html">{{member.surname}} {{member.name}}</a> 
                                                            <small>{{member.city}}, {{member.country}}</small>
                                                        </td>
                                                        <td class="bold"><i class="fa fa-clone mr5"></i> {{member.projectcount}}</td>
                                                        <td class="bold member-capacity">{{member.capacity}}</td>
                                                        <td  ng-repeat="hours in selectedweek[$index].data track by $index" ng-class="{'member-days stage-3': (hours<5),'member-days stage-2': (hours>4 && hours<7),'member-days stage-1': (hours>6)}">{{hours}}</td>
                                                        
                                                        <td class="bold member-total">{{selectedweek[$index].total}}</td>
                                                        <td class="bold member-performance">{{selectedweek[$index].performance}}%</td>  
                                                        <td class="project-actions">
                                                            <a ng-click="openProfile(member)" class="btn btn-white btn-sm"><i class="fa fa-search"></i> details</a>
                                                        </td> 
                                                    </tr>

                                                                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end table project list-->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--footer-->
            <div class="footer">
                <div>
                     &copy;2015 &middot; <b>flexwork.io</b> &middot; <a href="privacy-terms-fxw.html">Privacy and Terms</a> &middot; <a href="imprint-fxw.html">Imprint</a>
                </div>
            </div>
            <!--end footer-->

        </div>
</div>
<!--Add team member model-->
<div class="modal inmodal fade" id="add-user" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" ng-if="!isedit"><i class="fa fa-user-plus modal-fa-icon" ></i> Add Member</h4>
                    <h4 class="modal-title" ng-if="isedit"><i class="fa fa-user-plus modal-fa-icon" ></i> Edit Member</h4>
                </div>
                <div class="modal-body">
                     <div class="row">
                        <div class="col-md-6">
                            <h4>Contact</h4>
                            <div class="form-group">
                                <input type="text" class="form-control login-first-name" placeholder="First Name" required="" ng-model="surname">
                                <input type="text" class="form-control login-last-name" placeholder="Last Name" required="" ng-model="name">
                                <div class="clear-both"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Job Title" required="" ng-model="title">
                            </div>
                            <div class="form-group">
                                <!--select-->
                                <div class="select-option f-left m-0" style="width: 30%; margin-right: 2.5% ! important;" >
                                    <select class="select2" ng-model="phonecode" id="phonecodeselect">
                                        <option>+49</option>
                                        <option>+90</option>
                                        <option>+216</option>
                                    </select>
                                </div>
                                <input type="text" class="form-control" placeholder="Telephone" style="width: 67.5%;" ng-model="phonenumber">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="City" required="" ng-model="city">
                            </div>  
                            <div class="form-group mb-0">
                                <div class="select-option m-0" style="width: 100%;">
                                    <select class="select2" ng-model="country" id="countryselect">
                                        <option>Country</option>
                                        <option>Turkey</option>
                                        <option>Tunisia</option>
                                        <option>Germany</option>
                                    </select>
                                </div>
                            </div>
                        </div><!--col-md-->

                        <div class="col-md-6">
                            <h4>Access</h4>

                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" required="" ng-model="email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" required="" ng-model="password">
                            </div>

                            <div class="form-group m-0">
                                <!--select-->
                                <div class="select-option m-0" style="width: 100%;">
                                    <select class="select2" ng-model="role" ng-change="hideoptions()" id="roleselect">
                                        <option>Role</option>
                                        <option>keyaccount</option>
                                        <option>Developer</option>
                                        <option>Tester</option>
                                        <option>Designer</option>
                                        <option>Sysadmin</option>
                                    </select>
                                </div>
                            </div>
                            
                        </div><!--col-md-->

                        <div class="col-md-12">
                            <div class="hr-line-solid"></div>
                        </div>
                        <div class="col-md-6">
                            <h4>Info</h4>
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="Capacity (Weekly)" required="" ng-model="capacity" id="capacityset">
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="Hourly Rate" required="" ng-model="hourrate">
                            </div>
                        </div>
                            <div class="col-md-6 mt20 pt10">
                                <div class="select-option m-0" style="width: 100%;">
                                    <div class="form-group">
                                <div class="select-option m-0" style="width: 100%;">
                                    <select class="select2" ng-model="level" id="levelselect">
                                        <option>Level</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>
                            </div>
                                    <select class="select2" ng-model="status" id="statusselct">
                                        <option>Status</option>
                                        <option>Team</option>
                                        <option>Freelancer</option>
                                        <option>Pool</option>
                                    </select>
                                </div>
                            </div>
                            
                        
                         <div class="col-md-12">
                            <div class="hr-line-solid"></div>
                        </div>

                        <div class="col-md-12">
                            <h4>Language</h4>
                            <div class="form-group m-0">
                                <select data-placeholder="Select Language" class="chosen-select" multiple style="width:100%;" tabindex="2" ng-model="language" id="luanguageselect">
                                    <option value="English">English</option>
                                    <option value="German">German</option>
                                    <option value="Turkish">Turkish</option>
                                    <option value="French">French</option>
                                    <option value="Arabic">Arabic</option>
                                </select>
                            </div>
                        </div><!--col-md-->


                        <div class="col-md-12">
                            <div class="hr-line-solid"></div>
                            <h4>Skills</h4>
                            <div class="form-group m-0">
                                <select data-placeholder="Select Skills" class="chosen-select" multiple style="width:100%;" tabindex="2" ng-model="skills" id="skillsselct">
                                    <optgroup label="OOP">
                                        <option value="PHP">PHP</option>
                                        <option value="Java">Java</option>
                                        <option value="C#">C#</option>
                                        <option value="Python">Python</option>
                                        <option value="vb.net">vb.net</option>
                                        <option value="Ruby on Rails">Ruby on Rails</option>
                                        <option value="Objective C">Objective C</option>
                                        <option value="Action Script">Action Script</option>
                                        <option value="Pearl">Pearl</option>
                                    </optgroup>
                                    <optgroup label="Design">
                                        <option value="Web Design">Web Design</option>
                                        <option value="User Interface Design">User Interface Design</option>
                                        <option value="User Experience Design">User Experience Design</option>
                                        <option value="Mobile Design">Mobile Design</option>
                                        <option value="Responsive Design">Responsive Design</option>
                                        <option value="Graphic Design">Graphic Design</option>
                                    </optgroup>
                                    <optgroup label="Frontend Developement">
                                        <option value="HTML 5 &amp; CSS 3">HTML 5 &amp; CSS 3</option>
                                        <option value="jQuery">jQuery</option>
                                        <option value="Javascript">Javascript</option>
                                        <option value="Bootstrap Framework">Bootstrap Framework</option>
                                        <option value="Gumby Framework">Gumby Framework</option>
                                        <option value="WordPress Template">WordPress Template</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="hr-line-solid"></div>
                            <div class="form-group mb-0">
                                <div class="row">
                                    <label class="col-lg-6 add-user-label">Activate account?</label>
                                    <div class="col-lg-6 add-user-switch">
                                        <input type="checkbox" class="js-switch_3" ng-value="active" checked/>
                                    </div>
                                </div>
                            </div>
                        </div><!--col-md-->
                     </div><!--row-->
                </div>
                <div class="modal-footer">

                    <div class="row" ng-if="!isedit">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="checkbox checkbox-primary mt-5 mb-5">
                                    <input type="checkbox" id="checkbox3" ng-model="send" ng-click="stateChanged()">
                                    <label for="checkbox3">Send login information to user</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="createTeamMember(null)">Save</button>
                        </div>
                    </div>
                    <div ng-if="isedit">
                        <a class="f-left mt-5" ng-click="deleteMember(oldmember)"><small>Delete Account</small></a>
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="createTeamMember(oldmember)">Save</button>
                    </div>
                </div>
            </div>
        </div>
</div>
 <!--modal delete-->
    <div class="modal inmodal fade" id="delete" tabindex="-1" role="dialog"  aria-hidden="true" style="top:150px;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><i class="fa fa-trash modal-fa-icon"></i> Delete</h4>
                </div>
                <div class="modal-body">
                   <p class="modal-content-center m-0">Do you really want to delete it?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="deleteMember(oldmember)">Delete</button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> 
<!--success modal-->
    <div class="modal inmodal fade" id="success" tabindex="-1" role="dialog"  aria-hidden="true" style="top:150px;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <div class="modal-title"><i class="glyphicon glyphicon-ok-circle"> Alright :)</i></div>
                </div>
                <div class="modal-body">
                   <p class="modal-content-center m-0"></p>
                </div>
                
            </div>
        </div>
    </div> 
<!--failure modal-->
    <div class="modal inmodal fade" id="failure" tabindex="-1" role="dialog"  aria-hidden="true" style="top:150px;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <div class="modal-title"><i class="glyphicon glyphicon-remove-circle"> Oopss :(</i></div>
                </div>
                <div class="modal-body">
                   <p class="modal-content-center m-0"></p>
                </div>
                
            </div>
        </div>
    </div> 
<!--warning modal-->
    <div class="modal inmodal fade" id="warning" tabindex="-1" role="dialog"  aria-hidden="true" style="top:150px;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <div class="modal-title"><i class="glyphicon glyphicon-warning-sign"> Hey hey!!</i></div>
                </div>
                <div class="modal-body">
                   <p class="modal-content-center m-0"></p>
                </div>
                
            </div>
        </div>
    </div> 
 <!--modal change picture-->
    <div class="modal inmodal fade" id="change-picture" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><i class="fa fa-camera modal-fa-icon"></i> Change Picture</h4>
                </div>
                <div class="modal-body">
                   <div class="row">
                        <div class="col-md-6">
                                <div class="image-crop">
                                    <img src="img/users/big-image.jpg">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4>Preview image</h4>
                                <div class="img-preview img-preview-sm"></div>
                                <h4>Comon method</h4>
                                <p>
                                    You can upload new image to crop container and easy download new cropped image.
                                </p>
                                <div class="btn-group">
                                    <label title="Upload image file" for="inputImage" class="btn btn-primary">
                                        <input type="file" accept="image/*" name="file" id="inputImage" class="hide">
                                        Upload new image
                                    </label>
                                    <label title="Donload image" id="download" class="btn btn-primary">Download</label>
                                </div>
                                <h4>Other method</h4>
                                <p>
                                    You may set cropper options with <code>$({image}).cropper(options)</code>
                                </p>
                                <div class="btn-group">
                                    <button class="btn btn-white" id="zoomIn" type="button">Zoom In</button>
                                    <button class="btn btn-white" id="zoomOut" type="button">Zoom Out</button>
                                    <button class="btn btn-white" id="rotateLeft" type="button">Rotate Left</button>
                                    <button class="btn btn-white" id="rotateRight" type="button">Rotate Right</button>
                                    <button class="btn btn-warning" id="setDrag" type="button">New crop</button>
                                </div>
                            </div>
                   </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="uploadImage(oldmember)">Save</button>
                </div>
            </div>
        </div>
    </div> 
 
 