 <div class="middle-box text-center terms loginscreen animated fadeInDown">
        <div>
            <div class="logo">
                <a href="">
                    <h1 class="logo-name"><img src="img/logo-login-flexwork@2.png" width="85" height="75" alt="flexwork.io" title="flexwork.io"/></h1>
                </a>
            </div>
            <div class="login-content">
                <h3>General Terms &amp; Conditions</h3>
                <p>please accept general terms &amp; conditions</p>
            </div>
            <form class="mt20 pt10" role="form"  ng-submit="acceptContract()">
                <div class="mb20">
                    <div class="contract-paragraphs col-md-12 p0 mb20 aleft">
                        <div class="p20">
                            <h4>$paragraph1</h4>
                            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.</p>
                            <p>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</p>
                            <hr>
                            <h4>$paragraph2</h4>
                            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.</p>
                            <p>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</p>
                            <hr>
                            <h4>$paragraph3</h4>
                            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.</p>
                            <p>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</p>
                            <hr>
                            <h4>$paragraph4</h4>
                            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.</p>
                            <p>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</p>
                            <hr>
                            <h4>$paragraph5</h4>
                            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.</p>
                            <p>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</p>
                            <hr>
                            <h4>$paragraph6</h4>
                            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.</p>
                            <p>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</p>
                            <hr>
                        </div>                   
                    </div>
                </div>
                <div class="clear-both"></div>
                <div class="form-group terms">
                    <div class="checkbox checkbox-primary mt-5 mb-5">
                        <input type="checkbox" id="checkbox3" name="terms" id="terms" required>
                        <label for="checkbox3"> I have read and agree to the general terms &amp; conditions.</label>
                    </div>
                </div>
                <button type="submit" name="submit" id="submit" class="btn btn-turk-dark block full-width mb20">accept</button>

            </form>
            <p class="mt20"><small> &copy;2015 &middot; <b>flexwork.io</b></small></p>
        </div>
    </div>

  
